{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content">
		<p class="paraN">
			ursery "ORAH" was founded in 1978 as family Petrov's family nursery. The very beginning of
			production was based mainly on the production of grafted walnut in cooperation with the deceased
			<span style="white-space:nowrap">prof. dr. Milovan Korac.</span> In 1982 he formed the first
			parent scions and rootstocks.
		</p>
		<p>
			Only continental types of fruit are included in the production program. In addition to
			monitoring and production of new varieties adapted to our climate, great attention is paid
			to the collection of old indigenous varieties of fruit.
		</p>
		<p>
			The nursery constantly cooperates with <span style="white-space:nowrap">prof. dr. Vladislav
    Ognjanov,</span> who also expertly monitors the production.
		</p>
		<p>
			In addition to wholesale, great attention is paid to retail, ie. retail customers - those who
			produce in their gardens.
		</p>
		<p>
			In addition to production and distribution, the tree nursery provides all-year-round
			information about the time and manner of planting, pruning and protection of all fruit
			varieties during the year.
		</p>
		<p>
			Following customer’s wishes, large quantities of plants can be grafted when arranged in advance.
			Individual desires are met in case of emotional attachment to the variety of fruit of their
			ancestors. If necessary, we design fruit plantations and supervise the planting process.
		</p>
		<ul>
			<li class="ulTitle">The production part of a nursery includes:</li>
			<li>
				parent scion for seed production
			</li>
			<li>
				parent scion for production of vegetative rootstock
			</li>
			<li>
				parent scion for production of graft branches
			</li>
			<li>
				seminary
			</li>
			<li>
				facilities for stratification
			</li>
		</ul>
		<a class="toVrh soft" href="#vrh" title="Top">&nbsp;</a>
	</div><!--#content-->
{% endblock %}
