{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headC">olumnar Apple</h1>
		<h2>Time of Riping</h2>

		<table>
			<colgroup>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<thead>
			<tr>
				<th>Fruit Variety</th>
				<th colspan="6">July</th>
				<th colspan="6">August</th>
				<th colspan="6">September</th>
				<th colspan="6">October</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Vesna</th>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 10 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Djerdan</th>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 10 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Rosy Spindle</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<!-- 09 -->
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 10 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Queen of Chardas</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<!-- 10 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Green Gem</th>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<!-- 10 -->
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Emerald</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 10 -->
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</tbody>
		</table>

		<ul class="accent dark">
			<li class="itemS">
				pace between plants
				<ul>
					<li class="hl">12 x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->

		<p>
			Columnar apples are biological inovation that allows the cultivation of a great number of
			plants per unit area (1000 plants per hectar), as well as great yield on smaller areas.
			Fruit plants are grown without the firm support. All activities are done from the ground,
			as the hight of plants does not excede 3 meters. This catalogue introduces the latest
			achievements by <span style="white-space:nowrap">prof. Dr Ognjanov Vladislav</span>, in
			the field of columnar apples selection.
		</p>
		<p>
			Columnar green apples are unique in Europe and by their quality and attractivness they
			excel Granny Smith. They always have a recognisable green colour and never get the blush.
		</p>
		<a class="toVrh soft" href="#vrh" title="Top">&nbsp;</a>
	</div><!--#content-->
{% endblock %}
