{% extends 'english/english.base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; Stubaste i patuljaste forme{% endblock %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headS">tubaste i patuljaste forme kruške</h1>
		<ul class="accent">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">1.2m x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Gaje se u vrtovima pojedinačno, u vidu aleje na okućnicama ili posađene u saksijama na
			balkonima. Bujnost stubaste i patuljaste kruške ne prelazi 1.5 m.
			Plodovi su srednje krupnoće, kruškastog oblika, žute boje.
		</p>

		<h1>Patuljasta breskva</h1>
		<ul class="accent">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">2m x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Sorta &ldquo;Bonanza&rdquo; zahvaljujući kratkim internodijama obrazuje ukrasnu biljku do
			jednog metra visine. Plodovi su krupni, 170g, lepo obojeni, žutog mesa. Sazreva u <strong>prvoj
				polovini avgusta</strong>
		</p>

		<h1>Patuljasta nektarina</h1>
		<ul class="accent dark">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">2m x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Plodovi sorte &ldquo;Nana&rdquo; su srednje krupni, 120g, intenzivno crveno obojeni, žutog
			mesa i slatko nakiselog ukusa. Sazreva <strong>polovinom jula</strong>
		</p>

		<h1>Patuljasta višnja</h1>
		<ul class="accent dark">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">3m x 1.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Tradicionalno se gajila na vojvođanskim salašima, a zahvaljujući našem rasadniku ponovo
			postaje nezamenljiv ukras naših okućnica. Plod je vrlo krupan, 9g, okruglastog oblika, tamno
			crvene boje. Sok je zatvorene rubin boje.
		</p>

		<h1>Patuljasta kajsija</h1>
		<ul class="accent dark">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">3m x 1.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Idealna je za ljubitelje voćarstva koji nemaju puno prostora. Može se uspešno gajiti u malim
			vrtovima, ali je pogodna i za sadnju u odgovarajuće saksije koje se mogu smestiti u predvorje
			kuće ili na balkon.
		</p>

		<h1>Nove tehnologije</h1>
		<ul class="accent dark">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">4m x 2m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Standardne sorte trešnje i višnje kalemljene na Prunus fructicosa i oblačinskoj višnji pogodne
			za sadnju gustih zasada gde se sve radne operacije obavljaju sa zemlje.
		</p>

	</div><!--#content-->
{% endblock %}
