{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headC">olumnar &amp; Dwarf Forms of Pear</h1>
		<ul class="accent">
			<li class="itemS">
				pace between plants
				<ul>
					<li class="hl">1.2m x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Grown in the gardens separately, on their own, to form avenues or planted in pots on
			balconies. The size of columnar and dwarf pear does not exceed 1.5 meters. Fruits are medium
			large, pear-shaped and yellow.
		</p>

		<h1>Dwarf Peach</h1>
		<ul class="accent">
			<li class="itemS">
				pace between plants
				<ul>
					<li class="hl">2m x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			<i>Bonanza</i> variety, thanks to short internodes, forms ornamental plant up to 1 meter
			in hight. The fruits are large, 170gr, beautifully colored, with yellow flesh. It ripes
			in the first half of August.
		</p>

		<h1>Dwarf Nectarine</h1>
		<ul class="accent dark">
			<li class="itemS">
				pace between plants
				<ul>
					<li class="hl">2m x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			<i>Nana</i> variety has medium-large fruits, weighing 120gr, intensely red in colour, with
			yellow flesh and sweet-sour in taste. It ripens in mid-July.
		</p>

		<h1>Dwarf cherry</h1>
		<ul class="accent dark">
			<li class="itemS">
				pace between plants
				<ul>
					<li class="hl">3m x 1.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Is traditionally grown on farms in Vojvodina and thanks to our nursery again becomes
			indispensable decoration of local gardens. The fruit is very large, 9gr, with rounded shape
			and dark red color. Juice is dark ruby color.
		</p>

		<h1>Dwarf Apricot</h1>
		<ul class="accent dark">
			<li class="itemS">
				pace between plants
				<ul>
					<li class="hl">3m x 1.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Is ideal for fruit lovers who do not have much space. Can be successfully grown in small
			gardens, but is also suitable for planting in appropriate pots that can be placed in the
			halls of the houses or at the balconies.
		</p>

		<h1>New Technologies</h1>
		<ul class="accent dark">
			<li class="itemS">
				pace between plants
				<ul>
					<li class="hl">4m x 2m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Standard varieties of cherries which are grafted on <i>Prunus Fructicosa</i> and Oblachinska
			cherries are suitable for planting dense plantations where all the working operations are
			carried out on the ground.
		</p>
		<a class="toVrh soft" href="#vrh" title="Top">&nbsp;</a>
	</div><!--#content-->
{% endblock %}
