{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headC">urrant, Gooseberry &amp; Jost</h1>
		<ul class="accent">
			<li class="itemS">
				pace between plants
				<ul>
					<li>Currant</li>
					<li class="hl">2m x 1m</li>
				</ul>
				<ul>
					<li>Jost</li>
					<li class="hl">3m x 1.5m</li>
				</ul>
				<ul>
					<li>Gooseberry</li>
					<li class="hl">2m x 1m</li>
				</ul>
			</li>
		</ul><!--.accent-->
	</div><!--#content-->
{% endblock %}
