{% extends 'english/english.base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; Online naručivanje sadnica{% endblock %}

{% block main_content %}
	<div id="content" class="posta">
		<p class="paraM">
			olimo Vas da popunite sledeći formular, na osnovu kog će Vas naša služba prodaje kontaktirati
			i definisati porudžbinu, prema vrsti i broju sadnica koje imamo u prodaji.
		</p>
		<form>
			<label>Vaše ime i prezime
				<input id="ime" name="ime" type="text" tabindex="1" />
			</label>
			<label>Vaša adresa
				<input id="adresa" name="adresa" type="text" tabindex="2" />
			</label>
			<label>Mesto
				<input id="mesto" name="mesto" type="text" tabindex="3" />
			</label>
			<label>Poštanski broj
				<input id="pbroj" name="pbroj" type="text" tabindex="4" />
			</label>
			<label>Država
				<input id="drzava" name="drzava" type="text" tabindex="5" />
			</label>
			<label>Email
				<input id="email" name="email" type="text" tabindex="6" />
			</label>
			<label>Telefon
				<input id="tel" name="tel" type="text" tabindex="7" />
			</label>
			<label>Ovde upišite vrstu i broj sadnica za koje ste zainteresovani iz kataloga.
				<br />Sve vaše sugestije i pitanja su dobrodošla.
				<textarea tabindex="8" rows="5" cols="40"></textarea>
			</label>
			<input type="submit" tabindex="9" value="Pošalji" />
		</form>
		<a class="toVrh soft" href="#vrh" title="Vrh strane">&nbsp;</a>
	</div>
{% endblock %}
