{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content" class="posta">
		<p class="paraM">
			Please,fill-in the following form and you will be contacted by our sales pesonnel with whom you
			may specify all the purchase details.
		</p>
		<form>
			<label>Name and Surname
				<input id="ime" name="ime" type="text" tabindex="1"/>
			</label>
			<label>Address
				<input id="adresa" name="adresa" type="text" tabindex="2"/>
			</label>
			<label>City
				<input id="mesto" name="mesto" type="text" tabindex="3"/>
			</label>
			<label>Post Office Number
				<input id="pbroj" name="pbroj" type="text" tabindex="4"/>
			</label>
			<label>Country
				<input id="drzava" name="drzava" type="text" tabindex="5"/>
			</label>
			<label>Email
				<input id="email" name="email" type="text" tabindex="6"/>
			</label>
			<label>Phone
				<input id="tel" name="tel" type="text" tabindex="7"/>
			</label>
			<label>Catalogue number and quantity required should be noted in this field.
				<br/>Should you have any questions or suggestions do not hesitate to contact us.
				<textarea tabindex="8" rows="5" cols="40"></textarea>
			</label>
			<input type="submit" tabindex="9" value="Send"/>
		</form>
		<a class="toVrh soft" href="#vrh" title="Top">&nbsp;</a>
	</div><!--#content-->
{% endblock %}
