{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content" class="posta">
		<h1 class="headM">ail delivery terms and conditions</h1>
		<ul class="accent">
			<li class="itemP">
				hone
				<ul>
					<li>+381-62-84-00-266</li>
					<li>+381-24-753-495</li>
					<li>+381-24-753-770</li>
					<li>+381-64-300-80-36</li>
				</ul>
			</li><!--.itemP-->
			<li class="itemE">
				mail
				<ul>
					<li><a href="mailto:kontakt@orah.rs">kontakt@orah.rs</a></li>
				</ul>
			</li><!--.itemE-->
			<li class="itemA">
				ddress
				<ul>
					<li>Rasadnik &ldquo;Orah&rdquo;</li>
					<li>Kanjiški put 186</li>
					<li>24413 Palić</li>
					<li>Serbia</li>
				</ul>
			</li><!--.itemA-->
		</ul><!--.accent-->
		<p>
			Autumn delivery begins November 1<sup>st</sup> and lasts for as long as the weather conditions
			permit. After that period, orders are accepted only for spring delivery, which begins as soon
			as the period of hard winter and frosts ends.
			<br/>
			Prices are franco nursery with post and package costs added when delivered by mail. Payment is
			C.O.D. Nursery plants are appropriately packed and protected from damaging and drying. Every
			plant is labeled with the name of fruit variety. Plants need to be unpacked and planted
			immediately, providing the good weather conditions. Otherwise, they need to be kept in a pit
			until spring at a depth of 10cm above the grafting spot.
		</p>
		<h2>Planting material</h2>
		<p>
			Nursery plants are of the highest quality, in accordance with the rules and regulations for
			planting materials. Plants that are sold at our nursery are tested for viruses and are sold as
			virus-free plants. They have well developed root system ,stems and buds of satisfactory level
			of differentiation. Quality control is checked by Serbian Ministry of Agriculture.
		</p>
		<h2>Packaging</h2>
		<p>
			Nursery plants are packed in big thick polyethylene bags. Roots are kept in a moist substrate
			and trunks are protected with little wooden boards. Every parcel is approprietely packed,
			addressed and labeled as fragile. Plants are completely protected from drying and damaging.
		</p>
		<h2>Proffesional plantations</h2>
		<ul>
			<li class="ulTitle">When you buy plants at our nursery you are entilted to:</li>
			<li>
				Three-year consulting support free of charge
			</li>
			<li>
				Free planting plans
			</li>
			<li>
				Field trips
			</li>
			<li>
				All the necessery documentation needed to get subsidies/funds
			</li>
		</ul>
		<h2>Planting small areas</h2>
		<p>
			Since buyers are often indecisive how to best use their yards or gardens we are always willing
			to help with the right choice of fruit type and variety, we provide plans for planting and -
			most importantly - high quality planting material.
		</p>
		<a class="toVrh soft" href="#vrh" title="Top">&nbsp;</a>
	</div><!--#content-->
{% endblock %}
