{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headM">ulberry</h1>
		<p>
			Ripe, very sweet and aromatic, white or dark purple mulberries ( <i>Morus nigra</i> ) are
			eaten fresh, dried or processed. Dried mulberries can replace sugar and therefore are grinded
			and added to the dough while making sweets or confectionery. Mulberries are suitable for
			production of juices, cooked fruits, stewed fruits, jellies or syrups.
		</p>
		<p>
			Mulberry brandy -Laloski hot, is for centuries one of the ethnic characteristics of the
			Vojvodina plains.
		</p>
	</div><!--#content-->
{% endblock %}
