{% extends 'english/english.base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; Breskva i nektarina{% endblock %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headB">reskva i nektarina</h1>

		<ul class="accent">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">4m x 2m</li>
				</ul>
			</li>
		</ul><!--.accent-->

		<p>
			Nove sorte breskve i nektarine imaju izuzetne biološke osobine koje bi trebalo da unaprede
			ukupnu proizvodnju i kvalitet kao i dužinu i ravnomernost ponude u toku četiri letnja meseca.
			Posebnu pažnju treba obratiti izboru sorte za date uslove sredine, namenu i tržišne zahteve.
			Mogućnosti izvoza plodova breskve u zemlje zapadne i istočne Evrope je veliki. Dinamične
			promene sortimenta breskve u svetu prati i sortiment koji je u procesu stavljanja na sortnu
			listu Republike Srbije, nastao zahvaljujući oplemenjivačkom radu
			<span style="white-space:nowrap">prof. dr Vladislava Ognjanova.</span>
		</p>
		<ul>
			<li class="ulTitle">Izbor sorti breskve i nektarine znači:</li>
			<li>Vrhunsku atraktivnost ploda i kvalitet</li>
			<li>Kontinuitet plasmana u toku četiri meseca, od juna do septembra</li>
			<li>Bezvirusni sadni materijal kao jedini pravi izbor</li>
			<li>Besplatan transfer tehnologije gajenja u toku čitavog perioda komercijalne eksploatacije
				breskvika
			</li>
		</ul>
		<p>
			Plodovi savremenih sorti breskve i nektarine su potpuno prekriveni intenzivnim rumenilom,
			krupni, vrhunske atraktivnosti i transportabilnosti. Breskva i nektarina su vrlo profitabilne
			voćne vrste sa skoro neograničenim mogućnostima izvoza na evropsko tržište.
		</p>
		<p>
			Najnovije dostignuće u oplemenjivanju breskve i nektarine su sorte tanjirastog oblika, izuzetne
			atraktivnosti i krupnoće ploda, vrlo sitne semenke, izraženog slatkog ukusa.
		</p>
		<p>
			Naše krupnoplodne selekcije vinogradarske breskve odlikuju se neprevazidjenim ukusom, mirisom i
			aromom. Masa njihovih plodova dostiže i 250g. Imaju visoku otpornost na prouzrokovače bolesti.
		</p>
		<a class="toVrh soft" href="#vrh" title="Vrh strane">&nbsp;</a>
	</div>
{% endblock %}
