{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headP">each &amp; Nectarine</h1>

		<ul class="accent">
			<li class="itemS">
				pace between plants
				<ul>
					<li class="hl">4m x 2m</li>
				</ul>
			</li>
		</ul><!--.accent-->

		<p>
			New varieties of peaches and nectarines have exceptional biological properties that would
			need to improve the overall production and quality as well as the length and uniformity of
			offer during four summer months. Particular attention should be given to the choice of
			varieties for a given environmental conditions, usage and market demands. Peach export
			opportunities to countries in Western and Eastern Europe is significant. Dynamic changes of
			peach varieties in the world follow the varieties which are in the process of putting them
			to the varietal list of the Republic of Serbia and all this was possible thanks to the
			breeding work process of <span style="white-space:nowrap">Prof. Vladislav Ognjanov.</span>
		</p>
		<ul>
			<li class="ulTitle">Selection of peach and nectarine means:</li>
			<li>Superb attractiveness of fruit and quality</li>
			<li>Continuity of placement for four months, from June to September</li>
			<li>Virus-free planting material as the only right choice</li>
			<li>Free transfer of technology of cultivation during the whole period of commercial
				exploitation of peach orchards
			</li>
		</ul>
		<p>
			The fruits of modern cultivars of peaches and nectarines are completely covered with intense
			blush, being big, highly attractive and transportable. Peaches and nectarines are highly
			profitable fruits with almost unlimited possibilities of exports to the European market.
		</p>
		<p>
			Latest development in breeding of peach and nectarine varieties brings saucer shaped,
			extremely attractive fruit sizes with very small seeds and with enhanced sweet taste.
		</p>
		<p>
			Our big-sized selection of vineyard peach are characterized by unsurpassed taste, scent and
			aroma. Weight of their fruits reaches up to 250g. They have high resistance to
			disease-causing agents.
		</p>
		<a class="toVrh soft" href="#vrh" title="Top">&nbsp;</a>
	</div><!--#content-->
{% endblock %}
