{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content">
		<h1 class="headI">nstructions for raising orchards</h1>
		<p>
			Since it is a multi-year culture it is necessary to predict all the elements which are crucial
			for success before the orchards are raised. When the mistakes in setting up an orchard are
			noticed too late they cannot be corrected.
		</p>
		<h2>Seedlings</h2>
		<p>
			The quality of the seedlings is the primary and the most important factor in raising orchards.
			Planting stock must be healthy, of high quality and purchased at the nursery which has a
			tradition of producing the same. Species, varieties and rootstocks should be chosen according
			to the type of soil, position and future breeding system of the orchard.
		</p>
		<h2>Land</h2>
		<p>
			Special attention should be given to the preparation of land. Land must be free of weeds, and
			before establishing an orchard, deeply fertalised and ploughed early in autumn. Before
			planting it is necessary to perform leveling, cultivating many times in both directions, and
			then choosing the direction of lines, dispensing, digging pits and planting.
		</p>
		<h2>Time of Planting</h2>
		<p>
			Planting fruit trees is mainly done in autumn from the time leaves start falling until the
			vegetation begins in spring. For the southern region autumn planting is more recommended. In
			autumn there is a better choice of planting material in terms of assortment. The shape and size
			of the pits are not crucial to the success of planting if the soil is prepared in
			the above-mentioned manner. With the soil prepared in this way watering is not necessary.
		</p>
		<h2>Preparation of Seedlings for Planting and Cultivation Techniques</h2>
		<p>
			Before planting it is necessary to prepare seedlings for planting by restoring cuts to the
			vessels, removing the damaged parts of the vessels and soaking them in the mushy mixture of
			dung, clay and water. The tree should be truncated to the desired height, according to the
			type of the future orchard, and temporary side branches should be removed. Seedlings should be
			planted at the depth they were planted at in the nursery, so that the place of grafting is at
			the surface level. When planting, the soil around the trees and above the root system should be
			treaded on well to get the air out of the pit, and make the soil stick to the vessels.
		</p>
		<a class="toVrh soft" href="#vrh" title="Top">&nbsp;</a>
	</div><!--#content-->
{% endblock %}
