{% extends 'english/english.base.html.twig' %}

{% block main_content %}
	<div id="content" class="zastita">
		<a name="summary">
			<h1 class="headP">rotection of Seedlings</h1>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/3.jpg">
				<img src="/gfx/photo/thumb/3.jpg" alt=""/>
			</a>
		</div>
		<ul>
			<li>
				<a class="soft" href="#jabuka">Apple</a>
			</li>
			<li>
				<a class="soft" href="#kruska">Pear</a>
			</li>
			<li>
				<a class="soft" href="#loza">Vine</a>
			</li>
			<li>
				<a class="soft" href="#breskva">Peach</a>
			</li>
			<li>
				<a class="soft" href="#sljiva">Plum</a>
			</li>
			<li>
				<a class="soft" href="#visnjatresnja">Cherry and Sour Cherry</a>
			</li>
		</ul>

		<a name="jabuka">
			<h2>Apple</h2>
		</a>
		<table>
			<thead>
			<tr>
				<th>Flowering</th>
				<th>Diseases and Pests</th>
				<th>Suppression</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Swelling buds</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Pests</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) or Funguran OH (0,4%)</li>
						<li>Garmin (2-3%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Green bouquets</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Apple powdery mildew</li>
						<li>Anthonomus pomorum</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pyrus 400SC (0,1%) +</li>
						<li>Dithane M-45 (0,2%) +</li>
						<li>Karathane EC (0,075%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Rose bud</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Apple powdery mildew</li>
						<li>Tanymecus spp, Phyllobius spp.</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pyrus 400SC (0,1%) +</li>
						<li>Dithane DG Neo TEC (0,25%) +</li>
						<li>Karathane EC (0,05%) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Flowering</td>
				<td>
					<ul>
						<li>Apple scab</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pyrus 400SC (0,075-0,1%) or</li>
						<li>Stroby DF (0,2kg/ha) +</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Withering</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Apple powdery mildew</li>
						<li>Aphids</li>
						<li>Cemiostominae</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Score 250EC (200ml/ha) +</li>
						<li>Captan 80WG (0,2%) +</li>
						<li>Microthiol disperss (0,3%) +</li>
						<li>Actara 25WG (200gr/ha) or</li>
						<li>Afinex 20SP (0,025%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Hazelnut-sized fruit</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Apple powdery mildew</li>
						<li>Apple moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Score 250EC (200ml/ha) +</li>
						<li>Captan 80WG (0,2%) or</li>
						<li>Flint plus (1,5-1,85kg/ha) +</li>
						<li>Insegar 25WG (600gr/ha) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Walnut-sized fruit</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Apple powdery mildew</li>
						<li>Apple moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Indar 5EW (0,09%) +</li>
						<li>Delan 700WG (0,05%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>7-10 days later</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Apple powdery mildew</li>
						<li>Apple moth</li>
						<li>Aphids</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Delan 700WG (0,05%) +</li>
						<li>Systhane 12E (0,035%) +</li>
						<li>Afinex 20SP (0,025%) +</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Fruit growth</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Apple powdery mildew</li>
						<li>Apple moth</li>
						<li>Cemiostominae</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Tercel (0,25%) +</li>
						<li>Match 050EC (0,1%) +</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-12 days later</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Apple powdery mildew</li>
						<li>Apple moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG (0,3%) +</li>
						<li>Topas 100EC (0,025%) +</li>
						<li>Cythrin (0,02%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-12 days later</td>
				<td>
					<ul>
						<li>Apple scab</li>
						<li>Apple moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrodin 60WP (0,1%) +</li>
						<li>Cythrin (0,2-0,3%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>15 days to harvest</td>
				<td>Fruit rot</td>
				<td>Funomil (0,1%) +</td>
			</tr>

			<tr>
				<td>As needed</td>
				<td>Mites</td>
				<td>
					<ul>
						<li>Demitan 200SC (0,06%) or</li>
						<li>Sanmite 20WP (0,075%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Weed control</td>
				<td>Perennial and annual grass weeds</td>
				<td>
					<ul>
						<li>Glifomark or</li>
						<li>Cosmic 36 (4-12l/ha) or</li>
						<li>Terbis (2-4l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Summary</a>

		<a name="kruska">
			<h2>Pear</h2>
		</a>
		<table>
			<thead>
			<tr>
				<th>Flowering</th>
				<th>Diseases and Pests</th>
				<th>Suppression</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Before the beginning of vegetation</td>
				<td>
					<ul>
						<li>Bacterial infections</li>
						<li>Pear flea</li>
						<li>(the beginning of activities <span>T > 10&deg;C</span>)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) or Funguran OH (0,4%)</li>
						<li>Vantex 60CS (60ml/ha) +</li>
						<li>Galmin (2-3%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>&ldquo;Mouse ears&rdquo;</td>
				<td>
					<ul>
						<li>Pear scab</li>
						<li>Pear flea</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Match 050EC (0,1%) +</li>
						<li>Nu film (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>White blossoms</td>
				<td>
					<ul>
						<li>Pear scab</li>
						<li>Tanymecus spp.</li>
						<li>Wasp</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Flowering</td>
				<td>
					<ul>
						<li>Pear scab</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Stroby DF (0,2%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Withering</td>
				<td>
					<ul>
						<li>Pear scab</li>
						<li>Black blotch</li>
						<li>Pear rust</li>
						<li>Wasp</li>
						<li>Epidermis fruit moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Captan 80WG (0,2%) +</li>
						<li>Score 250EC (200ml/ha) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Fruit growth</li>
						<li>(second half of May)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pear scab</li>
						<li>Black blotch</li>
						<li>Pear rust</li>
						<li>Apple moth</li>
						<li>Pear flea</li>
						<li>Cemiostominae</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Insegar 25WG (0,06%) +</li>
						<li>Abastate(0,1%) + Galmin (1,0%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Fruit growth</li>
						<li>(middle of June)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pear scab</li>
						<li>Epidermis fruit moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Delan 700WG (0,05%) +</li>
						<li>Match 050EC (0,1%) +</li>
						<li>Nu film (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Fruit growth</li>
						<li>(first half of July)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pear scab</li>
						<li>Pear moth</li>
						<li>Pear flea</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Tercel (0,2-0,25%) or Stroby WG</li>
						<li>Cythrin (0,03%) - <span>for latter sorts</span></li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>15 days to harvest</td>
				<td>Fruit rot</td>
				<td>Funomil (0,07%)</td>
			</tr>

			<tr>
				<td>Weed control</td>
				<td>
					<ul>
						<li>Perennial and annual grass weeds</li>
						<li>Perennial grass weeds</li>
						<li>&ldquo;Dry-cutting&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra <span>(1,0-3,0l/ha)</span> or</li>
						<li>Kletox <span>(0,8-2,0l/ha)</span></li>
						<li>Cosmic 36 <span>(4,0-10,0l/ha)</span></li>
						<li>Agram <span>(3,0-5,0l/ha)</span></li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Summary</a>

		<a name="loza">
			<h2>Vine</h2>
		</a>
		<table>
			<thead>
			<tr>
				<th>Flowering</th>
				<th>Diseases and Pests</th>
				<th>Suppression</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Swelling buds</td>
				<td>Fomopsis</td>
				<td>Funguran OH (0,5%)</td>
			</tr>

			<tr>
				<td>Shoots length 10cm</td>
				<td>
					<ul>
						<li>Fomopsis</li>
						<li>Powdery mildew</li>
						<li>Eriofid mites</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG NeoTec (0,25%) or</li>
						<li>Captan 80WG (0,2%) +</li>
						<li>Karathane EC (0,05%) +</li>
						<li>Demitan (0,6l/ha) or</li>
						<li>Sanmite (0,6kg/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Before flowering</td>
				<td>
					<ul>
						<li>Downy mildew of grapevine</li>
						<li>Powdery mildew</li>
						<li>Grape moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Ridomil MZWG (0,25%) +</li>
						<li>Collis (0,03-0,04%) +</li>
						<li>Match 050EC (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Withering</td>
				<td>
					<ul>
						<li>Downy mildew of grapevine</li>
						<li>Powdery mildew</li>
						<li>Black rot</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrobat MZWG (0,25%) +</li>
						<li>Tilt 250EC (0,015%) +</li>
						<li>Pirus 400SC (0,2%)</li>
						<li>or Switch (0,6-0,8kg/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Formed berries</td>
				<td>
					<ul>
						<li>Downy mildew of grapevine</li>
						<li>Powdery mildew</li>
						<li>Grape moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Ridomil MZWG (0,25%) +</li>
						<li>Systhane (0,025%) +</li>
						<li>Micothiol disperss (0,3%) +</li>
						<li>Insegar 25WP (400g/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Closing of cluster</td>
				<td>
					<ul>
						<li>Black rot of berries</li>
						<li>Downy mildew of grapevine</li>
						<li>Powdery mildew</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,3%) +</li>
						<li>Micothiol disperss (0,4%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Home staple</td>
				<td>
					<ul>
						<li>Downy mildew of grapevine</li>
						<li>Powdery mildew</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Blue Bordo (0,5%) +</li>
						<li>Micothiol disperss (0,4%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Weed control</td>
				<td>
					<ul>
						<li>Perennial and annual grass weeds (vineyards in the third year and older)</li>
						<li>Vineyards in the second year and older</li>
						<li>Vineyards in the foundation</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Glifomark (4-12l/ha) or</li>
						<li>Cosmic 36 (4-12l/ha) + Tebris (2-4l/ha)</li>
						<li>Agram (3-5l/ha)</li>
						<li>Focus ultra (1,5-4l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<h3>Note</h3>
		<p>
			In the closing phase of the cluster there is a separate treatment, in the zone of the cluster,
			with Pyrus 400 SC fungicide (0.2%) to protect against gray mold. In the same way in the phase
			of &quot;šarka&quot; should be treated with the fungicide Switch 62.5 WG, also for protection
			against gray mold. Insecticide Vantex 60 CS (60ml/ha) can be added to this treatment - if the
			grape moth populations remain high. In order to prevent the spread of disease type
			phytoplasmosis, during the second to third decade of June, the treatment should be made against
			the cicada (CYTRIN 0.2-0.3%). The next treatment should be made between the second and the
			third decade of July (Vantex 60 CS, 60ml/ha).
		</p>
		<a class="toSadrzaj soft" href="#summary">Summary</a>

		<a name="breskva">
			<h2>Peach</h2>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/20.jpg">
				<img src="/gfx/photo/thumb/20.jpg" alt=""/>
			</a>
		</div>
		<table>
			<thead>
			<tr>
				<th>Flowering</th>
				<th>Diseases and pests</th>
				<th>Suppression</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Swelling buds</td>
				<td>
					<ul>
						<li>Porosity</li>
						<li>Curliness of the leaf</li>
						<li>Eggs of pests</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) or</li>
						<li>Funguran OH (0,4%) +</li>
						<li>Galmin (2,0%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Green dot on top of the shoot</td>
				<td>Curliness of the leaf</td>
				<td>
					<ul>
						<li>Syllit 400SC (0,25%) or</li>
						<li>Dellan 700WG (0,07%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Rose bud</td>
				<td>
					<ul>
						<li>Curliness of the leaf</li>
						<li>Powdery mildew of peach</li>
						<li>Trips</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dellan 700WG (0,07%) +</li>
						<li>Karathane EC (0,05%) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Flowering</td>
				<td>Monilinia laxa</td>
				<td>
					<ul>
						<li>Signum (0,07%) or</li>
						<li>Funomil (0,07%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Withering</td>
				<td>
					<ul>
						<li>Porosity</li>
						<li>Aphids</li>
						<li>Trips</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrodin 60WP (0,1%) +</li>
						<li>Actara 25WG (200g/ha) or</li>
						<li>Afinex (250g/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Hazelnut-sized fruit</td>
				<td>
					<ul>
						<li>Porosity</li>
						<li>Powdery mildew of peach</li>
						<li>Peach moth (Cydia molesta)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Captan 80WG (0,2%) +</li>
						<li>Systhane 12E (0,035%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>After thinning of the fruits</td>
				<td>
					<ul>
						<li>Fruit rot</li>
						<li>Pseudaulacaspis pentagona</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Signum (0,07%) +</li>
						<li>Inegar 25WG (0,06%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Fruit growth</li>
						<li>(12-15 days later)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Porosity</li>
						<li>Powdery mildew</li>
						<li>Anarsia lineatella</li>
						<li>Moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG NeoTec (0,25%) +</li>
						<li>Topas 100EC (0,025%) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Fruit growth</li>
						<li>(15 days later)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Fruit rot</li>
						<li>Peach moth (Cydia molesta)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Funomil (0,07%) +</li>
						<li>Afinex 20SP (0,025%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>15 days to harvest</td>
				<td>Fruit rot</td>
				<td>Switch 62,5WG (0,08%)</td>
			</tr>

			<tr>
				<td>Autumn treatment</td>
				<td>
					<ul>
						<li>Curliness of the leaf</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) or</li>
						<li>Bordo Blue (1,5%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Weed control</td>
				<td>
					<ul>
						<li>Perennial and annual grass weeds</li>
						<li>Perennial grass weeds</li>
						<li>&ldquo;Dry-cutting&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra (1,0-3,0l/ha) or</li>
						<li>Kletox (0,8-2l/ha)</li>
						<li>Cosmic 36 (4-10l/ha) + Terbis (2,0-4,0l/ha)</li>
						<li>Agram (3,0-5,0l/ha)</li>

					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Summary</a>

		<a name="sljiva">
			<h2>Plum</h2>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/27.jpg">
				<img src="/gfx/photo/thumb/27.jpg" alt=""/>
			</a>
		</div>
		<table>
			<thead>
			<tr>
				<th>Flowering</th>
				<th>Diseases and pests</th>
				<th>Suppression</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<ul>
						<li>Early spring spraying</li>
						<li>(swelling buds)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Carob plum</li>
						<li>Porosity</li>
						<li>Wintering forms of pests (eggs)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) or</li>
						<li>Funguran OH (0,5%) +</li>
						<li>Galmin (1,5-2,5%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Closed flowers &ldquo;White hens&rdquo;</td>
				<td>
					<ul>
						<li>Drying of the flowers and bearing branches - moniliosis</li>
						<li>Hoplocampa spp.</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Funomil (0,07%) or</li>
						<li>Signum (0,07%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Flowering</td>
				<td>Drying of the flowers and bearing branches - moniliosis</td>
				<td>
					<ul>
						<li>Signum (0,07%) or</li>
						<li>Pyrus 400SC (0,20-0,25%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Withering</td>
				<td>
					<ul>
						<li>Downy plum</li>
						<li>Hoplocampa spp.</li>
						<li>Aphids</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Captan WG80 (0,20%) +</li>
						<li>Nurelle D (0,10%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Formed fruit</td>
				<td>
					<ul>
						<li>Porosity</li>
						<li>Plum moth</li>
						<li>Aphids</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG (0,25%) +</li>
						<li>Afinex 20WP (0,025%) +</li>
						<li>Vantex 60CS (0,05%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-15 days later</td>
				<td>
					<ul>
						<li>Fruit rot</li>
						<li>Plum moth</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Funomil (0,07%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Change in the colour of fruit</td>
				<td>Fruit rot</td>
				<td>Switch 62,5WG (0,06%)</td>
			</tr>

			<tr>
				<td>Autumn treatment</td>
				<td>&ldquo;Blue Spraying&rdquo;</td>
				<td>Cuprablau Z (0,5%)</td>
			</tr>

			<tr>
				<td>Weed control</td>
				<td>
					<ul>
						<li>Perennial and annual grass weeds</li>
						<li>Perennial grass weeds</li>
						<li>&ldquo;Dry-cutting&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra (1-3l/ha) or</li>
						<li>Kletox (0,8-2,0l/ha) +</li>
						<li>Cosmic 36 (4-10l/ha) + Terbis (2-4l/ha)</li>
						<li>Agram (3-5l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Summary</a>

		<a name="visnjatresnja">
			<h2>Cherry and Sour Cherry</h2>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/15.jpg">
				<img src="/gfx/photo/thumb/15.jpg" alt=""/>
			</a>
		</div>
		<table>
			<thead>
			<tr>
				<th>Flowering</th>
				<th>Diseases and pests</th>
				<th>Suppression</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Winter Spraying</td>
				<td>
					<ul>
						<li>Pathogens</li>
						<li>Wintering forms of pests (eggs)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) or</li>
						<li>Funguran OH (0,4%) +</li>
						<li>Galmin (1,5-2,5%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Beginning of flowering</li>
						<li>&ldquo;White hens&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Monilinia laxa</li>
						<li>Leaf blotch</li>
						<li>Proboscidean</li>
						<li>Crocus</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Signum (0,07%) or</li>
						<li>Funomil (0,07%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Flowering</td>
				<td>Monilinia laxa</td>
				<td>
					<ul>
						<li>Signum (0,06-0,075%) or</li>
						<li>Pyrus 400SC (0,2-0,25%) or</li>
						<li>Funomil (0,7-1kg/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Forming of the fruit</li>
						<li>&ldquo;pea&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Leaf blotch</li>
						<li>Proboscidean</li>
						<li>Aphids</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG (0,25%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-15 days later</td>
				<td>
					<ul>
						<li>Leaf blotch</li>
						<li>Cherry fruit fly</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrodin 60WP (0,1%) or</li>
						<li>Syllit 400SC (0,2%) +</li>
						<li>Actara 25WG (0,02%) or</li>
						<li>Afinex 20SP (0,025%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Change in the colour of fruit</td>
				<td>
					<ul>
						<li>Monilinia laxa</li>
						<li>Black rot</li>
						<li>Cherry fruit fly</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Switch 62,5 WG (0,06%) +</li>
						<li>Vantex 60CS (0,005%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>After the harvest</td>
				<td>Leaf blotch</td>
				<td>
					<ul>
						<li>Captan 80WG (0,2%) or</li>
						<li>Agrodin 60WP (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Autumn treatment</td>
				<td>&ldquo;Blue Spraying&rdquo;</td>
				<td>Cuprablau Z (0,5%)</td>
			</tr>

			<tr>
				<td>Weed control</td>
				<td>
					<ul>
						<li>Perennial and annual grass weeds</li>
						<li>Perennial grass weeds</li>
						<li>&ldquo;Dry-cutting&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra (1-3l/ha) or</li>
						<li>Kletox (0,8-2,0l/ha) +</li>
						<li>Cosmic 36 (4-10l/ha) + Terbis (2-4l/ha)</li>
						<li>Agram (3-5l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Summary</a>

	</div><!--#content-->
{% endblock %}
