{% extends 'english/english.base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; Zaštita sadnica{% endblock %}

{% block main_content %}
	<div id="content" class="zastita">
		<a name="summary">
			<h1 class="headZ">aštita sadnica</h1>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/3.jpg">
				<img src="/gfx/photo/thumb/3.jpg" alt="" />
			</a>
		</div>
		<ul>
			<li>
				<a class="soft" href="#jabuka">Jabuka</a>
			</li>
			<li>
				<a class="soft" href="#kruska">Kruška</a>
			</li>
			<li>
				<a class="soft" href="#loza">Vinova loza</a>
			</li>
			<li>
				<a class="soft" href="#breskva">Breskva</a>
			</li>
			<li>
				<a class="soft" href="#sljiva">Šljiva</a>
			</li>
			<li>
				<a class="soft" href="#visnjatresnja">Višnja i trešnja</a>
			</li>
		</ul>

		<a name="jabuka">
			<h2>Jabuka</h2>
		</a>
		<table>
			<thead>
			<tr>
				<th>Fenofaza</th>
				<th>Bolesti i štetočine</th>
				<th>Suzbijanje</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Bubrenje pupoljaka</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Štetočine</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) ili Funguran OH (0,4%)</li>
						<li>Garmin (2-3%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Zeleni buketići</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Pepelnica jabuke</li>
						<li>Jabukin cvetojed</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pyrus 400SC (0,1%) +</li>
						<li>Dithane M-45 (0,2%) +</li>
						<li>Karathane EC (0,075%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Roze pupoljak</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Pepelnica jabuke</li>
						<li>Voćne pipe, listojedi</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pyrus 400SC (0,1%) +</li>
						<li>Dithane DG Neo TEC (0,25%) +</li>
						<li>Karathane EC (0,05%) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Cvetanje</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pyrus 400SC (0,075-0,1%) ili</li>
						<li>Stroby DF (0,2kg/ha) +</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Precvetavanje</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Pepelnica jabuke</li>
						<li>Lisne vaši</li>
						<li>Mineri</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Score 250EC (200ml/ha) +</li>
						<li>Captan 80WG (0,2%) +</li>
						<li>Microthiol disperss (0,3%) +</li>
						<li>Actara 25WG (200gr/ha) ili</li>
						<li>Afinex 20SP (0,025%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Plod veličine lešnika</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Pepelnica jabuke</li>
						<li>Jabukin smotavac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Score 250EC (200ml/ha) +</li>
						<li>Captan 80WG (0,2%) ili</li>
						<li>Flint plus (1,5-1,85kg/ha) +</li>
						<li>Insegar 25WG (600gr/ha) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Plod veličine oraha</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Pepelnica jabuke</li>
						<li>Jabukin smotavac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Indar 5EW (0,09%) +</li>
						<li>Delan 700WG (0,05%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>7-10 dana kasnije</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Pepelnica jabuke</li>
						<li>Jabukin smotavac</li>
						<li>Lisne vaši</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Delan 700WG (0,05%) +</li>
						<li>Systhane 12E (0,035%) +</li>
						<li>Afinex 20SP (0,025%) +</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Rast plodova</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Pepelnica jabuke</li>
						<li>Miner</li>
						<li>Jabukin smotavac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Tercel (0,25%) +</li>
						<li>Match 050EC (0,1%) +</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-12 dana kasnije</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Pepelnica jabuke</li>
						<li>Jabukin smotavac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG (0,3%) +</li>
						<li>Topas 100EC (0,025%) +</li>
						<li>Cythrin (0,02%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-12 dana kasnije</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Jabukin smotavac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrodin 60WP (0,1%) +</li>
						<li>Cythrin (0,2-0,3%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>15 dana pred berbu</td>
				<td>Trulež plodova</td>
				<td>Funomil (0,1%) +</td>
			</tr>

			<tr>
				<td>Po potrebi</td>
				<td>Grinje</td>
				<td>
					<ul>
						<li>Demitan 200SC (0,06%) ili</li>
						<li>Sanmite 20WP (0,075%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Suzbijanje korova</td>
				<td>Višegodišnji i jednogodišnji travni i širokolisni korovi</td>
				<td>
					<ul>
						<li>Glifomark ili</li>
						<li>Cosmic 36 (4-12l/ha) ili</li>
						<li>Terbis (2-4l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Sadržaj</a>

		<a name="kruska">
			<h2>Kruška</h2>
		</a>
		<table>
			<thead>
			<tr>
				<th>Fenofaza</th>
				<th>Bolesti i štetočine</th>
				<th>Suzbijanje</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Pre kretanja vegetacije</td>
				<td>
					<ul>
						<li>Bakterioze</li>
						<li>Kruškina buva</li>
						<li>(početak aktivnosti <span>T > 10&deg;C</span>)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) ili Funguran OH (0,4%)</li>
						<li>Vantex 60CS (60ml/ha) +</li>
						<li>Galmin (2-3%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>&ldquo;Mišje uši&rdquo;</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Kruškina buva</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Match 050EC (0,1%) +</li>
						<li>Nu film (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Beli pupoljci</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Voćne pipe</li>
						<li>Osa</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Cvetanje</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Stroby DF (0,2%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Precvetavanje</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Siva pegavost</li>
						<li>Rdja kruške</li>
						<li>Osa</li>
						<li>Smotavac pokožice ploda</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Captan 80WG (0,2%) +</li>
						<li>Score 250EC (200ml/ha) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Porast plodova</li>
						<li>(druga polovina maja)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Siva pegavost</li>
						<li>Rdja kruške</li>
						<li>Jabukin smotavac</li>
						<li>Kruškina buva</li>
						<li>Lisni mineri</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Insegar 25WG (0,06%) +</li>
						<li>Abastate(0,1%) + Galmin (1,0%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Porast plodova</li>
						<li>(sredina juna)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Smotavac pokožice ploda</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Delan 700WG (0,05%) +</li>
						<li>Match 050EC (0,1%) +</li>
						<li>Nu film (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Porast plodova</li>
						<li>(prva polovina jula)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Čadjava krastavost</li>
						<li>Kruškin smotavac</li>
						<li>Kruškina buva</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Tercel (0,2-0,25%) ili Stroby WG</li>
						<li>Cythrin (0,03%) - <span>za kasnije sorte</span></li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>15 dana pred berbu</td>
				<td>Trulež plodova</td>
				<td>Funomil (0,07%)</td>
			</tr>

			<tr>
				<td>Suzbijanje korova</td>
				<td>
					<ul>
						<li>Jednogodišnji i višegodišnji uskolisni korovi</li>
						<li>Višegodišnji korovi</li>
						<li>&ldquo;Hemijsko košenje&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra <span>(1,0-3,0l/ha)</span> ili</li>
						<li>Kletox <span>(0,8-2,0l/ha)</span></li>
						<li>Cosmic 36 <span>(4,0-10,0l/ha)</span></li>
						<li>Agram <span>(3,0-5,0l/ha)</span></li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Sadržaj</a>

		<a name="loza">
			<h2>Vinova loza</h2>
		</a>
		<table>
			<thead>
			<tr>
				<th>Faze razvoja</th>
				<th>Bolesti i štetočine</th>
				<th>Suzbijanje</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Bubrenje pupoljaka</td>
				<td>Fomopsis</td>
				<td>Funguran OH (0,5%)</td>
			</tr>

			<tr>
				<td>Lastari dužine 10cm</td>
				<td>
					<ul>
						<li>Fomopsis</li>
						<li>Pepelnica vinove loze</li>
						<li>Eriofidne grinje</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG NeoTec (0,25%) ili</li>
						<li>Captan 80WG (0,2%) +</li>
						<li>Karathane EC (0,05%) +</li>
						<li>Demitan (0,6l/ha) ili</li>
						<li>Sanmite (0,6kg/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Pred cvetanje</td>
				<td>
					<ul>
						<li>Plamenjača vinove loze </li>
						<li>Pepelnica vinove loze</li>
						<li>Groždjani moljci</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Ridomil MZWG (0,25%) +</li>
						<li>Collis (0,03-0,04%) +</li>
						<li>Match 050EC (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Precvetavanje</td>
				<td>
					<ul>
						<li>Plamenjača vinove loze </li>
						<li>Pepelnica vinove loze</li>
						<li>Siva trulež</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrobat MZWG (0,25%) +</li>
						<li>Tilt 250EC (0,015%) +</li>
						<li>Pirus 400SC (0,2%)</li>
						<li>ili Switch (0,6-0,8kg/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Formirane bobice</td>
				<td>
					<ul>
						<li>Plamenjača vinove loze </li>
						<li>Pepelnica vinove loze</li>
						<li>Groždjani moljci</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Ridomil MZWG (0,25%) +</li>
						<li>Systhane (0,025%) +</li>
						<li>Micothiol disperss (0,3%) +</li>
						<li>Insegar 25WP (400g/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Zatvaranje grozda</td>
				<td>
					<ul>
						<li>Siva trulež bobica</li>
						<li>Plamenjača vinove loze </li>
						<li>Pepelnica vinove loze</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,3%) +</li>
						<li>Micothiol disperss (0,4%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Početak šarka</td>
				<td>
					<ul>
						<li>Plamenjača vinove loze</li>
						<li>Pepelnica vinove loze</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Blue Bordo (0,5%) +</li>
						<li>Micothiol disperss (0,4%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Suzbijanje korova</td>
				<td>
					<ul>
						<li>Višegodišnji i jednogodišnji travni i širokolisni korovi (vinogradi u 3. godini i
							stariji)</li>
						<li>Vinogradi u 2. godini i stariji</li>
						<li>Vinogradi u zasnivanju</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Glifomark (4-12l/ha) ili</li>
						<li>Cosmic 36 (4-12l/ha) + Tebris (2-4l/ha)</li>
						<li>Agram (3-5l/ha)</li>
						<li>Focus ultra (1,5-4l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<h3>Napomena</h3>
		<p>
			U fazi zatvaranja grozda vrši se zaseban tretman, u zoni grozda, fungicidom Pyrus
			400 SC (0,2%) u cilju zaštite od sive truleži. Na isti način i u fazi šarka treba tretirati
			fungicidom Switch 62,5 WG, takodje zbog zaštite od sive truleži. U ovom tretmanu može se dodati
			insekticid Vantex 60 CS (60ml/ha) - ukoliko je populacija groždjanog moljca i dalje velika. U
			cilju sprečavanja širenja bolesti tipa fitoplazmoza, u periodu druge do treće dekade juna,
			treba izvršiti tretman protiv cikada (CYTRIN 0,2-0,3%). Sledeći tretman treba izvršiti izmedju
			druge i treće dekade jula (Vantex 60 CS, 60ml/ha).
		</p>
		<a class="toSadrzaj soft" href="#summary">Sadržaj</a>

		<a name="breskva">
			<h2>Breskva</h2>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/20.jpg">
				<img src="/gfx/photo/thumb/20.jpg" alt="" />
			</a>
		</div>
		<table>
			<thead>
			<tr>
				<th>Fenofaza</th>
				<th>Bolesti i štetočine</th>
				<th>Suzbijanje</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Bubrenje pupoljaka</td>
				<td>
					<ul>
						<li>Šupljikavost lista</li>
						<li>Kovrdžavost lišća</li>
						<li>Jaja štetočina</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) ili</li>
						<li>Funguran OH (0,4%) +</li>
						<li>Galmin (2,0%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Zelena tačka na vrhu letorasta</td>
				<td>Kovrdžavost lista</td>
				<td>
					<ul>
						<li>Syllit 400SC (0,25%) ili</li>
						<li>Dellan 700WG (0,07%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Roze pupoljak</td>
				<td>
					<ul>
						<li>Kovrdžavost lista</li>
						<li>Pepelnica breskve</li>
						<li>Trips</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dellan 700WG (0,07%) +</li>
						<li>Karathane EC (0,05%) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Cvetanje</td>
				<td>Monilija</td>
				<td>
					<ul>
						<li>Signum (0,07%) ili</li>
						<li>Funomil (0,07%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Precvetavanje</td>
				<td>
					<ul>
						<li>Šupljikavost lista</li>
						<li>Lisne vaši</li>
						<li>Trips</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrodin 60WP (0,1%) +</li>
						<li>Actara 25WG (200g/ha) ili</li>
						<li>Afinex (250g/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Plod veličine lešnika</td>
				<td>
					<ul>
						<li>Šupljikavost lista</li>
						<li>Pepelnica breskve</li>
						<li>Breskvin smotavac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Captan 80WG (0,2%) +</li>
						<li>Systhane 12E (0,035%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Nakon proredjivanja plodova</td>
				<td>
					<ul>
						<li>Trulež plodova</li>
						<li>Dudova štitasta vaš</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Signum (0,07%) +</li>
						<li>Inegar 25WG (0,06%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Porast plodova</li>
						<li>(12-15 dana kasnije)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Šupljikavost lista</li>
						<li>Pepelnica</li>
						<li>Breskvin moljac</li>
						<li>Smotavac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG NeoTec (0,25%) +</li>
						<li>Topas 100EC (0,025%) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Porast plodova</li>
						<li>(15 dana kasnije)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Trulež plodova</li>
						<li>Breskvin smotavac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Funomil (0,07%) +</li>
						<li>Afinex 20SP (0,025%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>15 dana pred berbu</td>
				<td>Trulež plodova</td>
				<td>Switch 62,5WG (0,08%)</td>
			</tr>

			<tr>
				<td>Jesenji tretman</td>
				<td>
					<ul>
						<li>Rešetavost lista</li>
						<li>Kovrdžavost lista</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) ili</li>
						<li>Bordo Blue (1,5%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Suzbijanje korova</td>
				<td>
					<ul>
						<li>Jednogodišnji i višegodišnji uskolisni korovi</li>
						<li>Višegodišnji korovi</li>
						<li>&ldquo;Hemijsko košenje&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra (1,0-3,0l/ha) ili</li>
						<li>Kletox (0,8-2l/ha)</li>
						<li>Cosmic 36 (4-10l/ha) + Terbis (2,0-4,0l/ha)</li>
						<li>Agram (3,0-5,0l/ha)</li>

					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Sadržaj</a>

		<a name="sljiva">
			<h2>Šljiva</h2>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/27.jpg">
				<img src="/gfx/photo/thumb/27.jpg" alt="" />
			</a>
		</div>
		<table>
			<thead>
			<tr>
				<th>Faze razvoja</th>
				<th>Bolesti i štetočine</th>
				<th>Suzbijanje</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<ul>
						<li>Rano prolećno prskanje</li>
						<li>(bubrenje pupoljaka)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Rogač šljive</li>
						<li>Šupljikavost</li>
						<li>Prezimljujuće forme štetočina (jaja)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) ili</li>
						<li>Funguran OH (0,5%) +</li>
						<li>Galmin (1,5-2,5%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Zatvoreni cvetovi &ldquo;bele koke&rdquo;</td>
				<td>
					<ul>
						<li>Sušenje cvetova i rodnih grančica - monilioza</li>
						<li>Šljivine ose</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Funomil (0,07%) ili</li>
						<li>Signum (0,07%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Cvetanje</td>
				<td>Sušenje cvetova i rodnih grančica - monilioza</td>
				<td>
					<ul>
						<li>Signum (0,07%) ili</li>
						<li>Pyrus 400SC (0,20-0,25%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Precvetavanje</td>
				<td>
					<ul>
						<li>Plamenjača šljive</li>
						<li>Šljivine ose</li>
						<li>Lisne vaši</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Captan WG80 (0,20%) +</li>
						<li>Nurelle D (0,10%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Formiran plod</td>
				<td>
					<ul>
						<li>Šupljikavost lišća</li>
						<li>Šljivin smotavac</li>
						<li>Lisne vaši</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG (0,25%) +</li>
						<li>Afinex 20WP (0,025%) +</li>
						<li>Vantex 60CS (0,05%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-15 dana kasnije</td>
				<td>
					<ul>
						<li>Trulež plodova</li>
						<li>Šljivin smotavac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Funomil (0,07%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Promena boje ploda</td>
				<td>Trulež plodova</td>
				<td>Switch 62,5WG (0,06%)</td>
			</tr>

			<tr>
				<td>Jesenji tretman</td>
				<td>&ldquo;Plavo prskanje&rdquo;</td>
				<td>Cuprablau Z (0,5%)</td>
			</tr>

			<tr>
				<td>Suzbijanje korova</td>
				<td>
					<ul>
						<li>Jednogodišnji i višegodišnji uskolisni korovi</li>
						<li>Višegodišnji korovi</li>
						<li>&ldquo;Hemijsko košenje&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra (1-3l/ha) ili</li>
						<li>Kletox (0,8-2,0l/ha) +</li>
						<li>Cosmic 36 (4-10l/ha) + Terbis (2-4l/ha)</li>
						<li>Agram (3-5l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Sadržaj</a>

		<a name="visnjatresnja">
			<h2>Višnja i trešnja</h2>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/15.jpg">
				<img src="/gfx/photo/thumb/15.jpg" alt="" />
			</a>
		</div>
		<table>
			<thead>
			<tr>
				<th>Faze razvoja</th>
				<th>Bolesti i štetočine</th>
				<th>Suzbijanje</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Zimsko prskanje</td>
				<td>
					<ul>
						<li>Patogeni</li>
						<li>Prezimljujuće forme štetočina (jaja)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) ili</li>
						<li>Funguran OH (0,4%) +</li>
						<li>Galmin (1,5-2,5%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Početak cvetanja</li>
						<li>&ldquo;bele koke&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Monilija</li>
						<li>Lisna pegavost</li>
						<li>Surlas</li>
						<li>Mrazovac</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Signum (0,07%) ili</li>
						<li>Funomil (0,07%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Cvetanje</td>
				<td>Monilija</td>
				<td>
					<ul>
						<li>Signum (0,06-0,075%) ili</li>
						<li>Pyrus 400SC (0,2-0,25%) ili</li>
						<li>Funomil (0,7-1kg/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Formiranje ploda</li>
						<li>&ldquo;zrno graška&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Lisna pegavost</li>
						<li>Surlas</li>
						<li>Vaši</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG (0,25%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-15 dana kasnije</td>
				<td>
					<ul>
						<li>Lisna pegavost</li>
						<li>Trešnjina muva</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrodin 60WP (0,1%) ili</li>
						<li>Syllit 400SC (0,2%) +</li>
						<li>Actara 25WG (0,02%) ili</li>
						<li>Afinex 20SP (0,025%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Promena boje ploda</td>
				<td>
					<ul>
						<li>Monilinia ploda</li>
						<li>Gorka trulež</li>
						<li>Trešnjina muva</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Switch 62,5 WG (0,06%) +</li>
						<li>Vantex 60CS (0,005%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Posle berbe</td>
				<td>Lisna pegavost</td>
				<td>
					<ul>
						<li>Captan 80WG (0,2%) ili</li>
						<li>Agrodin 60WP (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Jesenji tretman</td>
				<td>&ldquo;Plavo prskanje&rdquo;</td>
				<td>Cuprablau Z (0,5%)</td>
			</tr>

			<tr>
				<td>Suzbijanje korova</td>
				<td>
					<ul>
						<li>Jednogodišnji i višegodišnji uskolisni korovi</li>
						<li>Višegodišnji korovi</li>
						<li>&ldquo;Hemijsko košenje&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra (1-3l/ha) ili</li>
						<li>Kletox (0,8-2,0l/ha) +</li>
						<li>Cosmic 36 (4-10l/ha) + Terbis (2-4l/ha)</li>
						<li>Agram (3-5l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Sadržaj</a>

	</div>
{% endblock %}
