{% extends 'english/english.base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; Orah, leska i badem{% endblock %}

{% block main_content %}
	<div id="content" class="sorte">

		<h1 class="headO">rah</h1>
		<p>
			se vrlo često sadi u združenim zasadima sa kajsijom, šljivom ili breskvom.
		</p>
		<table class="randman">
			<colgroup>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
			</colgroup>
			<colgroup>
				<col/>
			</colgroup>
			<thead>
			<tr>
				<th>Sorta</th>
				<th>Težina ploda</th>
				<th>Randman</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Šampion</th>
				<td>14gr</td>
				<td>58%</td>
			</tr>
			<tr>
				<th>Srem</th>
				<td>15gr</td>
				<td>57%</td>
			</tr>
			<tr>
				<th>Tisa</th>
				<td>15gr</td>
				<td>51%</td>
			</tr>
			<tr>
				<th>Bačka</th>
				<td>12gr</td>
				<td>52%</td>
			</tr>
			<tr>
				<th>Mire</th>
				<td>12gr</td>
				<td>55%</td>
			</tr>
			<tr>
				<th>Medveđa</th>
				<td>10gr</td>
				<td>53%</td>
			</tr>
			<tr>
				<th>Ganzenhajm 139</th>
				<td>13gr</td>
				<td>48%</td>
			</tr>
			<tr>
				<th>Ganzenhajm 251</th>
				<td>13gr</td>
				<td>47%</td>
			</tr>
			<tr>
				<th>Jupiter</th>
				<td>12gr</td>
				<td>50%</td>
			</tr>
			<tr>
				<th>Šejnovo</th>
				<td>12gr</td>
				<td>54%</td>
			</tr>
			<tr>
				<th>Rasna</th>
				<td>14gr</td>
				<td>52%</td>
			</tr>
			<tr>
				<th>NS-kasni</th>
				<td>10,5gr</td>
				<td>54%</td>
			</tr>
			</tbody>
		</table>

		<ul class="accent">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">12m x 12m</li>
				</ul>
				<ul>
					<li>u trougao</li>
					<li class="hl">12m x 9.36m</li>
				</ul>
			</li>
		</ul><!--.accent-->

		<!--
		 <ul>
		  <li class="ulTitle">se vrlo često sadi u združenim zasadima sa kajsijom, šljivom ili
		  breskvom.
		  <li>Rasna</li>
		  <li>Šeinovo</li>
		  <li>Srem</li>
		  <li>Tisa</li>
		  <li>Geisenheim 139</li>
		  <li>Jupiter</li>
		 </ul>
		 -->

		<p>
			Plodovi navedenih sorti su krupni, preko 14g, imaju tanku ljusku, vrlo kvalitetnu jezgru. Vrlo
			su rodne sorte, a neke počinju da radjaju već u rasadniku. Sve imaju visok stepen tolerantnosti
			prema prouzrokovačima bolesti. Sazrevaju u <strong>septembru</strong> mesecu.
		</p>

		<h1 class="headS">tablasti lešnik</h1>
		<h2>Vreme zrenja</h2>

		<table>
			<colgroup>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<thead>
			<tr>
				<th>Sorta</th>
				<th colspan="6">Jun</th>
				<th colspan="6">Jul</th>
				<th colspan="6">Avgust</th>
				<th colspan="6">Septembar</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Tonda djentile romana</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Istarski dugi</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Davijana</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Rimski</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Halski džin</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Kosford</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Ludolf</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</tbody>
		</table>

		<ul class="accent dark">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">6m x 3m</li>
				</ul>
			</li>
		</ul><!--.accent-->

		<p>
			Najbolje sorte imaju krupan plod, ovalanog oblika, a u cvasti razvijaju dva do četiri ploda.
			Iz ovojnice lako ispadaju. Jezgra je loptasta, čvrsta, kvalitetna.
		</p>

		<h1 class="headB">adem</h1>
		<h2>Vreme zrenja</h2>

		<table>
			<colgroup>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<thead>
			<tr>
				<th>Sorta</th>
				<th colspan="6">Jun</th>
				<th colspan="6">Jul</th>
				<th colspan="6">Avgust</th>
				<th colspan="6">Septembar</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Papirno ljuskavi</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Tvrdunac</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</tbody>
		</table>
		<ul class="accent dark">
			<li class="itemR">
				azmak sadnje
				<ul>
					<li class="hl">6m x 3m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<a class="toVrh soft" href="#vrh" title="Vrh strane">&nbsp;</a>
	</div>
{% endblock %}
