{% extends 'german/german.base.html.twig' %}

{% block main_content %}
	<div id="content">
		<p class="paraB">
			aumschule &quot;Walnuss&quot;, als Familienbaumschule der
			Familie Petrov aus Palić, bei Subotica, wurde 1978 gegründet.
			Der Anfang der Herstellung basierte meistens auf der Herstellung
			des veredelten Walnussbaums. Alles wurde in Zusammenarbeit mit
			gestorbenem prof. Dr Milovan Korać gemacht. Im Jahr 1982 wurde
			der erste Mutterbaumgarten für die Edelreiser - und
			Unterlagenherstellung gegründet.
		</p>
		<p>
			Das Herstellungsprogramm verfügt ausschließlich über kontinentale
			Obstgattungen. Neben der Überwachung und Herstellung der neuen
			Sorten, die unserem Gebiet angepasst sind, verwenden wir auch
			große Sorgfalt auf die Sammlung von unseren alten Obstsorten.
		</p>
		<p>
			Unsere Baumschule hat eine ständige Zusammenarbeit mit prof. Dr
			Vladislav Ognjanov, der zugleich unsere Herstellung kontrolliert.
		</p>
		<p>
			Wir beschäftigen uns sowohl mit dem Großhandel als auch mit dem
			Eizelhandel.
		</p>
		<p>
			Neben der Herstellung, dem Verkauf und Versand geben wir
			während des ganzen Jahres wichtige Informationen, die unseren
			Arbeitsbereich betreffen (Pflanzzeit, Pflanzprozess,
			Beschneidung und Schutz aller Obstgattungen).
		</p>
		<p>
			Nach dem Wunsch des Kunden veredeln wir für ihn auch größere
			Mengen von Pflanzen, die er im Voraus bestellt hat. Wir bemühen
			uns auch, die Wünsche der Kunden zu erfüllen, die eine
			emotionelle Beziehung zu einer Obstsorte ihrer Vorfahren haben.
			Bei Bedarf projektieren wir auch Obstgärten und kontrollieren
			sie.
		</p>

		<ul>
			<li class="ulTitle">
				Unsere Baumschule verfügt über:
			</li>
			<li>
				einen Mutterbaumgarten für die Samenherstellung
			</li>
			<li>
				einen Mutterbaumgarten für die Edelreiserherstellung
			</li>
			<li>
				einen Mutterbaumgarten für die Unterlagenherstellung
			</li>
			<li>
				Wachstumsräume
			</li>
			<li>
				Stratifikationsobjekte
			</li>
		</ul>
		<a class="toVrh soft" href="#vrh" title="">&nbsp;</a>
	</div><!--#content-->
{% endblock %}
