{% extends 'hungarian/hungarian.base.html.twig' %}

{% block main_content %}
	<div id="content">
		<p class="paraA">
			z &ldquo;Orah-Dió&rdquo; faiskolát a Petrov család alapitotta 1978-ban, családi
			vállalkozáskent. Kezdetekben a termelést dióo1tványok előálitására
			alapozták elhunyt prof. dr. Milovan Korac-tyal együttmökdve. 1982-ben
		</p>
		<p>
			A gyártási program kifejezetten kontinentális gyümölcsfajtákat
			tartalmaz. A fajtakinálatot folyamatosan a mi éghajlatunkhoz igazitják,
			a legújabb fajtaigényeknek megfelelően,nagy figyelmet forditanak az
			őshonos fajták begyűjtéséhez és szaporitásához.
		</p>
		<p>
			A faiskola állandó jelleggel együttműködik prof. dr. Vladislav Ognjanovval, aki egyuttal
			a szakmai felügyeletet is végzi.
			A nagykereskedelem mellett nagy figyelmet forditanak a kistermelőkre és a
			kiskerttulajdonosokra is.
		</p>
		<p>
			A faiskola a termelés és ellátás mellett nagy figyelmet szentel egész évben a
			szaktanácsadásra, a telepites idejére, módjára,metszésre és
			minden gyömülcsfajta növényvédelmére.
		</p>
		<p>
			Nagyobb rendelés esetén előzetes szerződés alapján a vevő kivánsága szerint szolgáltatásos
			szemzést is végeznek. Egyes esetekben a megrendelő érzelmi kötődését is figyelembe veszik
			elődeik fajtáihoz.
			Szükség szerint megtervezik és felügyelik a telepitést.
		</p>
		<ul>
			<li class="ulTitle">A faiskola termelési vészlege magába foglalja:</li>
			<li>
				Magtermő törzsállomány
			</li>
			<li>
				Vegetativ alanyokat előállitó törzsállomány
			</li>
			<li>
				Oltóvessző előállitó törzsállomány
			</li>
			<li>
				Magoncnevelő
			</li>
			<li>
				Tűzdelő
			</li>
			<li>
				Oltványnevelő
			</li>
			<li>
				Vermelőhelységek
			</li>
		</ul>
		<a class="toVrh soft" href="#vrh" title="">&nbsp;</a>
	</div><!--#content-->
{% endblock %}
