{% extends 'serbian/serbian.base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; O nama{% endblock %}

{% block main_content %}
	<div id="content">
		<p class="paraR">
			asadnik &ldquo;ORAH&rdquo;, kao porodični rasadnik porodice Petrov, osnovan je 1978. godine. Sam početak
			proizvodnje je bio baziran pretežno na proizvodnji kalemljenog oraha uz saradnju sa pok.
			<span style="white-space:nowrap">prof. dr. Milovanom Korać</span>. Godine 1982 formiran je
			prvi matični zasad plemki i podloga.
		</p>
		<p>
			Proizvodni program sadrži izričito kontinentalne  voćne vrste. Osim praćenja i proizvodnje
			novih sorti prilagodjenih našem  podnevlju, velika se pažnja posvećuje prikupljanju starih
			autohtonih sorti voća.
		</p>
		<p>
			Rasadnik ima stalnu saradnju sa prof. dr.Vladislavom Ognjanov, koji ujedno vrši i ekspertski
			nadzor proizvodnje.
		</p>
		<p>
			Osim veleprodaje, velika se pažnja posvećuje i maloprodaji tj. malim kupcima – proizvodjačima na
			okućnicama.
		</p>
		<p>
			Pored proizvodnje i distribucije, rasadnik daje obaveštenja u toku cele godine o vremenu i
			načinu sadnje, rezidbe i zaštite svih voćnih vrsta.
		</p>
		<p>
			Po želji kupca vrši se uslužno kalemljenje  sa ugovaranjem unapred većih količina  kao i
			zadovoljavanje želja pojedinaca u slučaju emotivne vezanosti za sortu voća svojh predaka.
			Po potrebi vrši se projektovanje voćnih zasada te nadzor nad sadnjom istih.
		</p>
		<ul>
			<li class="ulTitle">Proizvodni deo rasadnika obuhvata:</li>
			<li>
				matični zasad za proizvodnju semena
			</li>
			<li>
				matični zasad za proizvodnju vegetativnih podloga
			</li>
			<li>
				matični zasad za proizvodnju kalem grančica
			</li>
			<li>
				semenište
			</li>
			<li>
				pikirište
			</li>
			<li>
				prporište
			</li>
			<li>
				rastilo
			</li>
			<li>
				objekti za stratifikovanje
			</li>
		</ul>
		<a class="toVrh soft" href="#vrh" title="Vrh strane">&nbsp;</a>
	</div>
{% endblock %}
