{% extends 'serbian/serbian.base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; Naručivanje poštom{% endblock %}

{% block main_content %}
	<div id="content" class="posta">
		<h1 class="headR">okovi isporuke i uslovi prodaje poštom</h1>
		<ul class="accent">
			<li class="itemT">
				elefon
				<ul>
					<li>062/84-00-266</li>
					<li>024/753-495</li>
					<li>024/753-770</li>
					<li>064/300-80-36</li>
				</ul>
			</li><!--.itemT-->
{#			<li class="itemE">#}
{#				mail#}
{#				<ul>#}
{#					<li>#}
{#						<a href="mailto:orahrasadnik1979@gmail.com">orahrasadnik1979@gmail.com</a>#}
{#					</li>#}
{#				</ul>#}
{#			</li><!--.itemE-->#}
			<li class="itemP">
				ošta
				<ul>
					<li>Rasadnik &ldquo;Orah&rdquo;</li>
					<li>Kanjiški put 186</li>
					<li>24413 Palić</li>
					<li>Srbija</li>
				</ul>
			</li><!--.itemP-->
		</ul><!--.accent-->
		<p>
			Jesenja isporuka počinje 01.11. pa sve dok vremenski uslovi dozvoljavaju (do jačih zimskih
			mrazeva). Posle tog perioda se primaju porudžbine za proleće. Sa prolećnim isporukama se
			počinje posle prestanka jakih zimskih mrazeva. Cene su franko rasadnik, a kod isporuke poštom
			uvećavaju se za troškove pakovanja i poštarine. Upakovane sadnice potpuno su zaštićene od
			isušivanja i oštećenja. Plaćanje je pouzećem. Svaka sadnica nosi plastičnu etiketu sa naznakom
			sorte. Po prijemu paketa raspakujte sadnice. Sadnice treba odmah posaditi, a ako to vreme ne
			dozvoljava utrapite ih do proleća. Dubina trapljenja je 10 cm iznad mesta kalemljenja.
		</p>
		<h2>Sadni materijal</h2>
		<p>
			Sadnice su vrhunskog kvaliteta i odgovaraju pravilniku o kvalitetu sadnog materijala. Sadni
			material koji se prodaje u našem rasadniku je testiran na prisustvo virusa i prodaje se kao
			bezvirusni. Sadnice imaju dobro razvijen korenov sistem i nadzemni deo, sa pupoljcima
			zadovoljavajućeg stepena diferenciranosti. Kontrolu kvaliteta proverava Ministarstvo
			poljoprivrede Republike Srbije.
		</p>
		<h2>Pakovanje</h2>
		<p>
			Sadnice su upakovane u velike, čvrste, polietilenske kese. Korenov sistem je u vlažnom
			supstratu. Čvrstina paketa se postiže oblaganjem nadzemnog dela širokim daščicama. Svaki paket
			je upakovan u pak papir, propisno adresiran, obeležen kao lomljiv sadržaj, a prati ga sva
			potrebna dokumentacija za plaćanje pouzećem. Upakovane sadnice potpuno su zaštićene od
			isušivanja i oštećenja.
		</p>
		<h2>Podizanje profesionalnih zasada</h2>
		<ul>
			<li class="ulTitle">Kupovinom naših sadnica stičete pravo na:</li>
			<li>
				Besplatnu trogodišnju savetodavnu pomoć
			</li>
			<li>
				Besplatan plan sadnje
			</li>
			<li>
				Izlaske na teren
			</li>
			<li>
				Potrebnu dokumentaciju za dobijanje potsticajnih sredstava
			</li>
		</ul>
		<h2>Podizanje zasada na manjim površinama</h2>
		<p>
			Često se dešava da kupci ne znaju tačno kako bi najbolje iskoristili prostor svoje okućnice ili
			bašte. Mi ćemo vam pomoći oko izbora voćne vrste i sorte, obezbedićemo vam plan sadnje i što je
			najvažnije - kvalitetan sadni materijal.
		</p>
		<a class="toVrh soft" href="#vrh" title="Vrh strane">&nbsp;</a>
	</div>
{% endblock %}
