{% extends 'serbian/serbian.base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; Dud{% endblock %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headD">ud</h1>
		<p>
			Zrele, vrlo slatke i aromatične, bele ili tamnoljubičaste dudinje jedu se sveže, preradjene ili
			osušene. Osušene dudinje mogu da zamene šecer i zbog toga ih melju i dodaju testu pri izradi
			slatkiša. Od dudinja izradjuju sokove, kompote, slatka, žele, sirupe i dr.
		</p>
		<p>
			Rakija od dudinja - Laloška ljuta, vekovima je jedno od etno obeležja vojvodjanske ravnice.
		</p>
	</div>
{% endblock %}
