<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Author" content="Небојша Камбер - Nebojša Kamber - www.nebojsa.in.rs -
   kamber@nebojsa.in.rs"/>
	<link rel="stylesheet" type="text/css" href="/css/common.css"/>
	<link href="https://fonts.googleapis.com/css?family=Philosopher:regular" rel="stylesheet"
		  type="text/css"/>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109562370-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}

		gtag('js', new Date());

		gtag('config', 'UA-109562370-1');
	</script>
</head>
<body class="bg4">
<p id="top">
	<a name="vrh">
		<img src="/gfx/logo-rs.png" alt="Memorandum"/>
	</a>
</p>
<img id="topOver" src="/gfx/logo-rs-bottom.png" alt=""/>
<ul id="info">
	<li id="phone">024 753 770</li>
	<li id="mobile">062 84 00 266</li>
	<li id="mail">
		<a href="mailto:kontakt@orah.rs">kontakt@orah.rs</a>
	</li>
</ul>

<ul id="lang" dir="rtl">
	<li id="ru">
		<a href="/ru/">По-русски</a>
	</li>
	<li id="hu">
		<a href="/index.hu.php">Magyar</a>
	</li>
	<li id="en">
		<a href="/index.en.php">English</a>
	</li>
	<li id="de">
		<a href="/index.de.php">Deutsch</a>
	</li>
</ul>

<ul id="nav">
	<li id="oNama">
		<a href="/index.rs.php">O nama</a>
	</li>
	<li id="sorte" class="hasSub">
		<a href="#">Sortimenti</a>
		<ul class="sub">
			<li>
				<a href="/jabuka-standardna.php">Standardna jabuka</a>
			</li>
			<li>
				<a href="/jabuka-stubasta.php">Stubasta jabuka</a>
			</li>
			<li>
				<a href="/jabuka-autohtone.php">Autohtone sorte jabuke</a>
			</li>
			<li>
				<a href="/kruska.php">Kruška</a>
			</li>
			<li>
				<a href="/dunja-musmula.php">Dunja i mušmula</a>
			</li>
			<li>
				<a href="/breskva-nektarina.php">Breskva i nektarina</a>
			</li>
			<li>
				<a href="/kajsija.php">Kajsija</a>
			</li>
			<li>
				<a href="/sljiva.php">Šljiva</a>
			</li>
			<li>
				<a href="/tresnja-visnja.php">Trešnja i višnja</a>
			</li>
			<li>
				<a href="/orah-leska-badem.php">Orah, leska i badem</a>
			</li>
			<li>
				<a href="/dren.php">Dren</a>
			</li>
			<li>
				<a href="/ribizla-josta-ogrozd.php">Ribizla, josta i ogrozd</a>
			</li>
			<li>
				<a href="/dud.php">Dud</a>
			</li>
			<li>
				<a href="/stubaste-i-patuljaste-forme.php">Stubaste i patuljaste forme</a>
			</li>
		</ul>
	</li>
	<li id="agroTehnika" class="hasSub">
		<a href="#">Agrotehnika</a>
		<ul class="sub">
			<li>
				<a href="/sadnja.php">Sadnja</a>
			</li>
			<li>
				<a href="/zastita.php">Zaštita sadnica</a>
			</li>
			<li>
				<a href="/slike.php">Galerija slika</a>
			</li>
		</ul>
	</li>
	<li id="prodaja" class="hasSub">
		<a href="#">Prodaja</a>
		<ul class="sub">
			<li>
				<a href="/posta.php">Narudžbina poštom</a>
			</li>
			<li>
				<a href="/email.php">Online narudžbina</a>
			</li>
		</ul>
	</li>
	<li id="kontakt">
		<a href="/kontakt.php">Kontakt</a>
	</li>
</ul>

<div id="pesma">
	Gde god nadješ zgodno mesto,
	<br/>Tu drvo posadi!
	<br/>A drvo je blagodarno
	<br/>Pa će da nagradi.
	<br/>
	<br/>Nagradiće izobiljem
	<br/>Hlada, roda svog
	<br/>Nagradiće bilo tebe
	<br/>Bilo brata tvog.
	<br/>
	<br/>Čika Jova Zmaj
</div>

<ul id="copy">
	<li>
		proizvodnja| <a href="mailto:kamber@nebojsa.in.rs">nKod</a>
	</li>
</ul>
</body>
</html>
