{% extends 'base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; Dobrodošli!{% endblock %}

{% block main_content %}
<div id="pesma">
	Gde god nadješ zgodno mesto,
	<br/>Tu drvo posadi!
	<br/>A drvo je blagodarno
	<br/>Pa će da nagradi.
	<br/>
	<br/>Nagradiće izobiljem
	<br/>Hlada, roda svog
	<br/>Nagradiće bilo tebe
	<br/>Bilo brata tvog.
	<br/>
	<br/>Čika Jova Zmaj
</div>
{% endblock %}
