{% extends 'russian/russian.base.html.twig' %}

{% block title %}{% endblock %}

{% block main_content %}
	<div id="content">
		<p class="paraP ru">
			итомник &laquo;Орех&raquo;, как семейный питомник, созданный в 1978 году. Начало производства было основано главным образом на производстве привитых грецких орехов в сотрудничестве с проф. др. Милован Корачом. В 1982 году была сформирована первая материнская плантация черенки и баз.
		</p>
		<p>
			Производственная программа содержит особенно континентальные сорты фруктов. Помимо мониторинга и производства новых сортов, адаптированных к нашему дневному свету, большое внимание уделяется сбору старых сортов автохтонных фруктов.
		</p>
		<p>
			Питомник имеет постоянное сотрудничество с проф. Д-р Владислав Огняновым, который одновременно осуществляет и экспертный надзор за производством.
		</p>
		<p>
			В дополнение к оптовой торговле большое внимание уделяется розничной торговле, т. е. Небольшим покупателям - производителям садов.
		</p>
		<p>
			Помимо производства и распределения, питомник предоставляет информацию в течение года о времени и методе посадки, резки и защиты всех видов фруктов.
		</p>
		<p>
			По желанию заказчика, услуги по пересадке выполняются с контрактом в больших количествах, а также с учетом пожеланий людей в случае эмоциональной привязанности к разнообразию плодов своих предков. При необходимости осуществляется проектирование плодовых плантаций и контроль их посадки.
		</p>
		<ul>
			<li class="ulTitle">Производственная часть питомника охватывает:</li>
			<li>
				метеринская плантация для семеноводства
			</li>
			<li>
				метеринская плантация для производства растительных субстратов
			</li>
			<li>
				метеринская плантация для производства слизней
			</li>
			<li>
				семинария
			</li>
			<!--			<li>-->
			<!--				pikirište-->
			<!--			</li>-->
			<!--			<li>-->
			<!--				prporište-->
			<!--			</li>-->
			<li>
				рост
			</li>
			<li>
				стратификационные установки
			</li>
		</ul>
		<a class="toVrh soft" href="#vrh" title="В начало страницы">&nbsp;</a>
	</div>
{% endblock %}
