{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headJat ru">блоко соломы</h1>
		<h2>Время созревания</h2>

		<table>
			<colgroup>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<thead>
			<tr>
				<th>Сорт</th>
				<th colspan="6">Июль</th>
				<th colspan="6">Август</th>
				<th colspan="6">Сентябрь</th>
				<th colspan="6">Октября</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Весна</th>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 10 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Джердан</th>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 10 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Желтый шпиндель</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<!-- 09 -->
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 10 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Королева Чардашян</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<!-- 10 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Зеленый жемчуг</th>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<!-- 10 -->
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Изумруд</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 10 -->
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</tbody>
		</table>

		<ul class="accent dark">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">12 x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->

		<p>
			Яблоки стерни - биологическая новинка, которая позволяет выращивать большое количество растений на единицу
			площади (10000 растений / га) и достигать высокого урожая на небольших поверхностях. Фрукты изготавливаются
			без спинки. Все работы выполняются из почвы, потому что высота плодовых деревьев не превышает 3 м в полном
			рождаемости. В этом каталоге представлены последние достижения в выборе ягод стерни, проф. др. Огнянов
			Владислава.
		</p>
		<p>
			Яблоки стерни зеленых фруктов уникальны в Европе, а с точки зрения качества и привлекательности обгоняют
			Грени Смит. Они всегда имеют узнаваемый зеленый цвет и никогда не краснеют.
		</p>
		<a class="toVrh soft" href="#vrh" title="Vrh strane">&nbsp;</a>
	</div>
{% endblock %}
