{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headS ru">олома и карликовая форма груши</h1>
		<ul class="accent">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">1.2m x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Они посажены в садах индивидуально, в виде водорослей на садах или посажены в горшках на балконах. Плотности
			стерни и карликовой груши не превышают 1,5 м. Плоды среднего размера, грушевидные, желтые.
		</p>

		<h1>Карликовый персик</h1>
		<ul class="accent">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">2m x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Сорт &laquo;Бонанза&raquo;, благодаря коротким междоузлиям, представляет собой декоративное растение высотой
			до одного метра. Плоды крупные, 170 г, красиво окрашенное, желтое мясо. Зрелый в первой половине
			августа</strong>
		</p>

		<h1>Карликовый нектарин</h1>
		<ul class="accent dark">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">2m x 0.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Плоды сорта &laquo;Нана&raquo; среднего размера, 120 г, сильно красноватого, желтого мяса и кисло-сладкого
			вкуса. Зрелый в середине июля
		</p>

		<h1>Карликовая черешня</h1>
		<ul class="accent dark">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">3m x 1.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Традиционно выращивалась в хозяйствах Воеводины, и благодаря нашему питомнику она стала незаменимым
			украшением наших садах. Плод очень большой, 9 г, круглой формы, темно-красного цвета. Сок закрытого
			рубинового цвета.
		</p>

		<h1>Горшечный абрикос</h1>
		<ul class="accent dark">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">3m x 1.5m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Он идеально подходит для любителей фруктов, у которых мало места. Его можно успешно выращивать в небольших
			садах, но он также подходит для посадки в подходящих горшках, которые можно поместить в вестибюле дома или
			на балконе.
		</p>

		<h1>Новые технологии</h1>
		<ul class="accent dark">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">4m x 2m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<p>
			Стандартные сорта черешни и вишни, привитые на Prunus fruiticos и вишни, подходят для посадки плотных
			плантаций, где все рабочие операции выполняются с земли.
		</p>

	</div>
{% endblock %}
