{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headS">Смородины, jost, крыжовник</h1>
		<ul class="accent">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li>смородина</li>
					<li class="hl">2m x 1m</li>
				</ul>
				<ul>
					<li>jost</li>
					<li class="hl">3m x 1.5m</li>
				</ul>
				<ul>
					<li>крыжовник</li>
					<li class="hl">2m x 1m</li>
				</ul>
			</li>
		</ul><!--.accent-->
	</div>
{% endblock %}
