{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="pesma">
		Найти удобное место
		<br/>
		И дерево там посади!
		<br/>
		А дерево благодарно
		<br/>
		Вас потом вознаградит!
		<br/>
		<br/>
		Вознаградит изобилием
		<br/>
		Холодом и плодом,
		<br/>
		Вознаградит вас
		<br/>
		Или любого из нас.
		<br/>
		<br/>
		Йован Йованович Змай
	</div>
{% endblock %}
