{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="content" class="posta">
		<h1 class="headS ru">роки доставки и условия продажи по почте</h1>
		<ul class="accent">
			<li class="itemT">
				Телефон
				<ul>
					<li>+381 (62) 84-00-266</li>
					<li>+381 (24) 753-495</li>
					<li>+381 (24)753-770</li>
					<li>+381 (64) 300-80-36</li>
				</ul>
			</li><!--.itemT-->
			<li class="itemE">
				Эл. адрес
				<ul>
					<li><a href="mailto:kontakt@orah.rs">kontakt@orah.rs</a></li>
				</ul>
			</li><!--.itemE-->
			<li class="itemP">
				Адрес
				<ul>
					<li>Rasadnik &ldquo;Orah&rdquo;</li>
					<li>Kanjiški put 186</li>
					<li>24413 Palić</li>
					<li>Serbia</li>
				</ul>
			</li><!--.itemP-->
		</ul><!--.accent-->
		<p>
			Осенняя доставка начинается 01.11. так как погодные условия позволяют (для более сильных зимних заморозков).
			После этого периода принимаются заказы на весну. С весенними поставками начинается после окончания сильных
			зимних заморозков. Цены франшизируются, а при доставке по почте они увеличиваются за счет упаковки и
			почтовых расходов. Упакованные саженцы полностью защищены от высыхания и повреждения. Оплата при поставке.
			Каждая рассада несет пластиковую этикетку с указанием разновидности. Распакуйте рассаду после получения
			упаковки. Саженцы должны быть немедленно высажены, и если это время не позволит им ловить их до весны.
			Глубина прилипания на 10 см выше места прививки.
		</p>
		<h2>Фруктовый материал</h2>
		<p>
			Саженцы имеют превосходное качество и соответствуют правилам качества посадочного материала. Фруктовые
			материалы, продаваемые в нашем питомнике были протестированы на наличие вирусов и проданы как невирусные.
			Саженцы имеют хорошо развитую корневую систему и верхнюю часть, с почками удовлетворительной степени
			дифференциации. Контроль качества проверяется Министерством сельского хозяйства Республики Сербия.
		</p>
		<h2>Упаковка</h2>
		<p>
			Семена упаковываются в большие, твердые полиэтиленовые пакеты. Корневая система находится во влажном
			субстрате. Жесткость упаковки достигается за счет покрытия верхней части с помощью широких прокладок. Каждая
			упаковка упакована в бумагу, надлежащим образом адресована, помечена как хрупкий контент и сопровождается
			всей необходимой документацией для оплаты по доставке. Упакованные саженцы полностью защищены от высыхания и
			повреждения.
		</p>
		<h2>Повышение профессиональных заводов</h2>
		<ul>
			<li class="ulTitle">Приобретая наши саженцы, вы получаете право на:</li>
			<li>
				Бесплатное трехлетнее консультирование
			</li>
			<li>
				Бесплатный план посадки
			</li>
			<li>
				Переход на поле
			</li>
			<li>
				Необходимая документация для получения средств стимулирования
			</li>
		</ul>
		<h2>Посадка на небольших участках</h2>
		<p>
			Часто бывает так, что покупатели не знают точно, как максимально использовать сад или садовое пространство.
			Мы поможем вам выбрать фрукты и разнообразие, мы предоставим вам план посадки и, самое главное, качественный
			посадочный материал.
		</p>
		<a class="toVrh soft" href="#vrh" title="В начало страницы">&nbsp;</a>
	</div>
{% endblock %}
