{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headSh ru">елковица</h1>
		<p>
			Зрелые, очень сладкие и ароматные, белые или темноволосые шелковицы можно кушать свежые, обработанные или
			высушенные. Сушеные шелковицы могут заменить сахар и, следовательно, расплавить их и добавить к тесту при
			приготовлении сладостей. Из шелковицы можно производить соки, компоты, конфеты, желе, сиропы и так далее.
		</p>
		<p>
			Ракия из шелковицы – Лалошка острая, много столетий назад - одна из этнических особенностей Воеводинской
			равнины.
		</p>
	</div>
{% endblock %}
