{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">
		<h1 class="headP ru">ерсик и нектарины</h1>

		<ul class="accent">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">4m x 2m</li>
				</ul>
			</li>
		</ul><!--.accent-->

		<p>
			Новые сорта персика и нектарина обладают исключительными биологическими свойствами, которые должны улучшить
			общее производство и качество, а также длину и равномерность предложения в течение четырехмесячного периода.
			Особое внимание следует уделить выбору сорта для данных условий окружающей среды, целей и требований рынка.
			Возможности экспорта персиковых фруктов в страны Западной и Восточной Европы высоки. Динамические изменения
			в сортировке персика в мире сопровождаются разнообразием, которое находится в процессе размещения в
			национальном сортовом списке Республики Сербии, благодаря племенной работе проф. Д-р Владислава Огнянова.
		</p>
		<ul>
			<li class="ulTitle">Выбор сортов персика и нектарина означает:</li>
			<li>Превосходная фруктовая привлекательность и качество</li>
			<li>Непрерывность размещения в течение четырех месяцев, с июня по сентябрь</li>
			<li>Невирусный посадочный материал как единственный истинный выбор</li>
			<li>Бесплатный перевод технологии выращивания в течение всего периода коммерческой эксплуатации персика</li>
		</ul>
		<p>
			Плоды современных сортов персика и нектарина полностью покрыты интенсивным румянцем, большой, первоклассной
			привлекательностью и переносимостью. Персик и нектарин - очень выгодные сорта фруктов с почти
			неограниченными возможностями экспорта на европейский рынок.
		</p>
		<p>
			Последними достижениями в выращивании персиков и нектаринов являются разновидности формы оперения,
			исключительная привлекательность и размер фруктов, очень крошечные семена, выраженный сладкий вкус.
		</p>
		<p>
			Наш крупномасштабный выбор виноградных персиков характеризуется непревзойденным вкусом, запахом и ароматом.
			Вес их плодов достигает 250 г. Они обладают высокой устойчивостью к причине заболевания.
		</p>
		<a class="toVrh soft" href="#vrh" title="В начало страницы">&nbsp;</a>
	</div>
{% endblock %}
