{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="content">
		<h1 class="headI ru">нструкции по выращиванию сада</h1>
		<p>
			Поскольку это многолетняя культура, необходимо предвидеть все моменты, которые имеют решающее значение для
			успеха, прежде чем сад будет поднят. Ошибки при поднятии садов опаздывают и не могут быть исправлены.
		</p>
		<h2>Посадочный материал</h2>
		<p>
			Фруктовый материал является основным и самым важным условием для выращивания садов. Фруктовые материалы
			должны быть здоровыми, качественными и поставляться в питомники, которые имеют традицию в производстве. Тип,
			разнообразие и субстрат следует выбирать в зависимости от типа почвы, положения и будущей системы
			выращивания садов.
		</p>
		<h2>Земля</h2>
		<p>
			Особое внимание следует уделить подготовке земель. Земля должна быть чистой от сорняков, прежде чем посеять
			сады, надо сделать культивированные, исправленные и глубоко плохие (жесткие) работы в начале осени. Перед
			посадкой необходимо проводить полевое культивирование, культивировать несколько раз в обоих направлениях, а
			затем перейти к выбору направления рядов, размеров, копания ям и посадки.
		</p>
		<h2>Время посадки</h2>
		<p>
			Фруктовая посадка в основном производится осенью разлагающихся листьев и продолжается до тех пор, пока не
			начнется весенняя растительность. Для южных регионов рекомендуется осенняя посадка. При осенней посадкр -
			лучший выбор посадочного материала по ассортименту. Форма и размер ямы не имеют решающего значения для
			успеха посадки, если земля подготовлена ​​вышеуказанным образом. При этом, подготовленная почвенная осенняя
			посадка не требуется для посадки саженцев.
		</p>
		<h2>Подготовка саженцев и методы посадки</h2>
		<p>
			Перед посадкой необходимо приготовить саженцы таким образом, что мы обновляем разрезы на венах, удаляем
			поврежденные части сосуда и погружаем грибную смесь тюков, глины и воды. Дерево должно быть отрезано до
			желаемой высоты, в соответствии с будущей культивацией садов, а боковой височный салат удаляется. Посев
			должен быть высажен на глубине, на которой он находился в питомнике, так что место прививки находится на
			уровне поверхности почвы. При посадке почвы вокруг рассады и над корневой системой она должна быть хорошо
			наклонена, чтобы вытолкнуть воздух из ямы, и почву приклеивают к венам.
		</p>
		<a class="toVrh soft" href="#vrh" title="В начало страницы">&nbsp;</a>
	</div>
{% endblock %}
