{% extends 'russian/russian.base.html.twig' %}

{% block title %}Rasadnik ORAH &bull; Sadnja{% endblock %}

{% block main_content %}
	<div id="content">
		<h1 class="headU">putstvo pri podizanju voćnjaka</h1>
		<p>
			Pošto se radi o višegodišnjoj kulturi potrebno je pre podizanja voćnjaka predvideti sve
			momente koji su odlučujući za uspeh. Greške učinjene kod podizanja voćnjaka kasno se uoče i ne
			mogu se ispraviti.
		</p>
		<h2>Sadni materijal</h2>
		<p>
			Sadni materijal je osnovni i najvažniji uslov kod podizanja voćnjaka. Sadni materijal mora da
			bude zdrav, kvalitetan i nabavljen kod rasadnika koji ima tradiciju u proizvodnji istog. Vrstu,
			sortu i podlogu treba odabrati prema tipu zemljišta, položaju i budućem sistemu uzgoja voćnjaka.
		</p>
		<h2>Zemljište</h2>
		<p>
			Pripremi zemljišta treba pokloniti posebnu pažnju. Zemljište mora da bude čisto od korova, a
			pre zasnivanja voćnjaka obradjeno, zadjubreno i duboko poorano (rigolovano) rano u jesen. Pre
			sadnje neophodno je izvršiti ravnanje terena, kultiviranje više puta u oba pravca, a potom
			pristupiti odabiranju pravca redova, razmeravanju, kopanju jama i sadnji.
		</p>
		<h2>Vreme sadnje</h2>
		<p>
			Sadnja voćaka uglavnom se obavlja u jesen od opadanja lišća i traje do kretanja vegetacije u
			proleće. Za južne rejone preporučuje se jesenja sadnja. Kod jesenje sadnje je bolji izbor
			sadnog materijala u pogledu sortimenta. Oblik i veličina jame nisu od presudnog značaja za
			uspeh sadnje, ukoliko je zemljište pripremljeno na gore naveden način. Kod ovakvog,
			pripremljenog zemljista jesenje sadnje nije neophodno zalivanje sadnica.
		</p>
		<h2>Priprema sadnica za sadnju i tehnika sadjenja</h2>
		<p>
			Pre sadnje neophodno je pripremiti sadnicu za sadnju na taj način što ćemo obnoviti rezove na
			žilama, ukloniti oštećene delove žila i potopiti u kašastu smesu balege, gline i vode. Stablo
			treba prekratiti na željenu visinu, prema budućem načinu uzgoja voćnjaka, a bočne privremene
			letoraste ukloniti. Sadnicu treba zasaditi na dubini na kojoj je bila u rasadniku, tako da
			mesto kalemljenja bude u nivou površine zemljišta. Kod sadnje zemlju oko sadnice, a iznad
			korenovog sistema treba dobro nagaziti da bi se istisnuo vazduh iz jame, a zemlja prilepila na
			žile.
		</p>
		<a class="toVrh soft" href="#vrh" title="Vrh strane">&nbsp;</a>
	</div>
{% endblock %}
