{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="content" class="zastita">
		<a name="summary">
			<h1 class="headZ ru">ащита саженцев</h1>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/3.jpg">
				<img src="/gfx/photo/thumb/3.jpg" alt=""/>
			</a>
		</div>
		<ul>
			<li>
				<a class="soft" href="#jabuka">Яблоко</a>
			</li>
			<li>
				<a class="soft" href="#kruska">Груша</a>
			</li>
			<li>
				<a class="soft" href="#loza">Виноградная лоза</a>
			</li>
			<li>
				<a class="soft" href="#breskva">Персик</a>
			</li>
			<li>
				<a class="soft" href="#sljiva">Слива</a>
			</li>
			<li>
				<a class="soft" href="#visnjatresnja">Вишня и черешня</a>
			</li>
		</ul>

		<a name="jabuka">
			<h2>Яблоко</h2>
		</a>
		<table>
			<thead>
			<tr>
				<th>Фенофаз</th>
				<th>Болезни и вредители</th>
				<th>Подавление</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Отек почек</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Вредители</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) или Funguran OH (0,4%)</li>
						<li>Garmin (2-3%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Зеленые букеты</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Яблочная пепельница</li>
						<li>Едятцветы яблоки</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pyrus 400SC (0,1%) +</li>
						<li>Dithane M-45 (0,2%) +</li>
						<li>Karathane EC (0,075%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Розовый бутон</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Яблочная пепельница</li>
						<li>Фруктовые трубы</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pyrus 400SC (0,1%) +</li>
						<li>Dithane DG Neo TEC (0,25%) +</li>
						<li>Karathane EC (0,05%) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Цветение</td>
				<td>
					<ul>
						<li>Парша</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Pyrus 400SC (0,075-0,1%) или</li>
						<li>Stroby DF (0,2kg/ha) +</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Прецветание</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Яблочная пепельница</li>
						<li>Вши листьей</li>
						<li>Шахтер</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Score 250EC (200ml/ha) +</li>
						<li>Captan 80WG (0,2%) +</li>
						<li>Microthiol disperss (0,3%) +</li>
						<li>Actara 25WG (200gr/ha) или</li>
						<li>Afinex 20SP (0,025%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Плод размером с лесной орех</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Яблочная пепельница</li>
						<li>Яблочный мотылек</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Score 250EC (200ml/ha) +</li>
						<li>Captan 80WG (0,2%) или</li>
						<li>Flint plus (1,5-1,85kg/ha) +</li>
						<li>Insegar 25WG (600gr/ha) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Плод размером с грецкий орех</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Яблочная пепельница</li>
						<li>Яблочный мотылек</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Indar 5EW (0,09%) +</li>
						<li>Delan 700WG (0,05%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>7-10 дней спустя</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Яблочная пепельница</li>
						<li>Яблочный мотылек</li>
						<li>Вши листьей</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Delan 700WG (0,05%) +</li>
						<li>Systhane 12E (0,035%) +</li>
						<li>Afinex 20SP (0,025%) +</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Рост фруктов</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Яблочная пепельница</li>
						<li>Miner</li>
						<li>Яблочный мотылек</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Tercel (0,25%) +</li>
						<li>Match 050EC (0,1%) +</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-12 дней спустя</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Яблочная пепельница</li>
						<li>Яблочный мотылек</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG (0,3%) +</li>
						<li>Topas 100EC (0,025%) +</li>
						<li>Cythrin (0,02%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-12 дней спустя</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Яблочный мотылек</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrodin 60WP (0,1%) +</li>
						<li>Cythrin (0,2-0,3%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>За 15 дней до сбора урожаяu</td>
				<td>Гниль</td>
				<td>Funomil (0,1%) +</td>
			</tr>

			<tr>
				<td>При необходимости</td>
				<td>Клещ</td>
				<td>
					<ul>
						<li>Demitan 200SC (0,06%) или</li>
						<li>Sanmite 20WP (0,075%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Контроль сорняков</td>
				<td>Многолетние и однолетние травы и широколиственные сорняки</td>
				<td>
					<ul>
						<li>Glifomark или</li>
						<li>Cosmic 36 (4-12l/ha) или</li>
						<li>Terbis (2-4l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Содержание</a>

		<a name="kruska">
			<h2>Груша</h2>
		</a>
		<table>
			<thead>
			<tr>
				<th>Фенофаз</th>
				<th>Болезни и вредители</th>
				<th>Подавление</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Перед перемещением растительности</td>
				<td>
					<ul>
						<li>Бактериозов</li>
						<li>Грушевая муха</li>
						<li>(начало деятельности <span>T > 10&deg;C</span>)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) или Funguran OH (0,4%)</li>
						<li>Vantex 60CS (60ml/ha) +</li>
						<li>Galmin (2-3%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>&ldquo;Мышиные уши&rdquo;</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Грушевая муха</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Match 050EC (0,1%) +</li>
						<li>Nu film (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Белые почки</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Фруктовые трубы</li>
						<li>Оса</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Цветение</td>
				<td>
					<ul>
						<li>Парша</li>
					</ul>
				</td>
				<td>
					<ul>С
						<li>Dithane M70 (0,3%) +</li>
						<li>Stroby DF (0,2%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Прецветание</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Серая трещина</li>
						<li>Ржавчины</li>
						<li>Оса</li>
						<li>Мотылек плода</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Captan 80WG (0,2%) +</li>
						<li>Score 250EC (200ml/ha) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Рост плодов</li>
						<li></li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Серая трещина</li>
						<li>Ржавчины</li>
						<li>Яблочный мотылек</li>
						<li>Грушевая муха</li>
						<li>Листоверты</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane M70 (0,3%) +</li>
						<li>Insegar 25WG (0,06%) +</li>
						<li>Abastate(0,1%) + Galmin (1,0%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Рост плодов</li>
						<li>(в середине июня)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Парша</li>
						<li>Мотылек плода</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Delan 700WG (0,05%) +</li>
						<li>Match 050EC (0,1%) +</li>
						<li>Nu film (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Рост плодов</li>
						<li>(в первой половине июля)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Парша</li>
						<!--						<li>Kruškin smotavac</li>-->
						<li>Грушевая муха</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Tercel (0,2-0,25%) или Stroby WG</li>
						<li>
							Cythrin (0,03%)
							<!--							<span>za kasnije sorte</span>-->
						</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>За 15 дней до сбора урожаяu</td>
				<td>Гниль</td>
				<td>Funomil (0,07%)</td>
			</tr>

			<tr>
				<td>Контроль сорняков</td>
				<td>
					<ul>
						<!--						<li>Jednogodišnji i višegodišnji uskolisni korovi</li>-->
						<li>Многолетние сорняки</li>
						<li>&ldquo;Химическое скашивание&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra <span>(1,0-3,0l/ha)</span> или</li>
						<li>Kletox <span>(0,8-2,0l/ha)</span></li>
						<li>Cosmic 36 <span>(4,0-10,0l/ha)</span></li>
						<li>Agram <span>(3,0-5,0l/ha)</span></li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Содержание</a>

		<a name="loza">
			<h2>Виноградная лоза</h2>
		</a>
		<table>
			<thead>
			<tr>
				<th>Фенофаз</th>
				<th>Болезни и вредители</th>
				<th>Подавление</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Отек почек</td>
				<td>Fomopsis</td>
				<td>Funguran OH (0,5%)</td>
			</tr>

			<tr>
				<td>Побеги с 10 см в длину</td>
				<td>
					<ul>
						<li>Fomopsis</li>
						<!--						<li>Спаржа vinove loze</li>-->
						<li>Эрифидные клещи</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG NeoTec (0,25%) или</li>
						<li>Captan 80WG (0,2%) +</li>
						<li>Karathane EC (0,05%) +</li>
						<li>Demitan (0,6l/ha) или</li>
						<li>Sanmite (0,6kg/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>До цветения</td>
				<td>
					<ul>
						<li>Виноградник виноградника</li>
						<!--						<li>Спаржа vinove loze</li>-->
						<li>Виноградные мотыльки</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Ridomil MZWG (0,25%) +</li>
						<li>Collis (0,03-0,04%) +</li>
						<li>Match 050EC (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Прецветание</td>
				<td>
					<ul>
						<li>Виноградник виноградника</li>
						<!--						<li>Спаржа vinove loze</li>-->
						<li>Серая гниль</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrobat MZWG (0,25%) +</li>
						<li>Tilt 250EC (0,015%) +</li>
						<li>Pirus 400SC (0,2%)</li>
						<li>или Switch (0,6-0,8kg/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Сформированные ягоды</td>
				<td>
					<ul>
						<li>Виноградник виноградника</li>
						<!--						<li>Спаржа vinove loze</li>-->
						<li>Виноградные мотыльки</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Ridomil MZWG (0,25%) +</li>
						<li>Systhane (0,025%) +</li>
						<li>Micothiol disperss (0,3%) +</li>
						<li>Insegar 25WP (400g/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Закрытие кластера</td>
				<td>
					<ul>
						<li>Серая гниль ягоды</li>
						<li>Виноградник виноградника</li>
						<!--						<li>Спаржа vinove loze</li>-->
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,3%) +</li>
						<li>Micothiol disperss (0,4%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Начало шарнира</td>
				<td>
					<ul>
						<li>Виноградник виноградника</li>
						<!--						<li>Спаржа vinove loze</li>-->
					</ul>
				</td>
				<td>
					<ul>
						<li>Blue Bordo (0,5%) +</li>
						<li>Micothiol disperss (0,4%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Контроль сорняков</td>
				<td>
					<ul>
						<li>Многолетние и однолетние травы и широколиственные сорняки
							(виноградники в 3-м году и старше)
						</li>
						<li>виноградники в 2-м году и старше</li>
						<li>виноградники в создании</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Glifomark (4-12l/ha) или</li>
						<li>Cosmic 36 (4-12l/ha) + Tebris (2-4l/ha)</li>
						<li>Agram (3-5l/ha)</li>
						<li>Focus ultra (1,5-4l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<h3>Замечание</h3>
		<p>
			На заключительной фазе кластера проводят отдельную обработку фунгицида Pyrus 400 SC (0,2%) для защиты от
			серой гнили. Таким же образом, в шарнирной фазе, его также следует обрабатывать WG-переключателем Switch
			62.5 WG, также для защиты от серой гнили. При этом лечении можно добавить инсектицид Vantex 60 CS (60 мл /
			га) - если популяция моли все еще высока. Чтобы предотвратить распространение типа фитоплазмоза, во
			второй-третьей декаде июня следует проводить лечение против цикатоза (ЦИТРИН 0,2-0,3%). Следующее лечение
			должно проводиться между второй и третьей декадами июля (Vantex 60 CS, 60 мл / га).
		</p>
		<a class="toSadrzaj soft" href="#summary">Содержание</a>

		<a name="breskva">
			<h2>Персик</h2>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/20.jpg">
				<img src="/gfx/photo/thumb/20.jpg" alt=""/>
			</a>
		</div>
		<table>
			<thead>
			<tr>
				<th>Фенофаз</th>
				<th>Болезни и вредители</th>
				<th>Подавление</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Отек почек</td>
				<td>
					<ul>
						<li>Пористость листьев</li>
						<li>Фигурный лист</li>
						<li>Яичные вредители</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) или</li>
						<li>Funguran OH (0,4%) +</li>
						<li>Galmin (2,0%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Зеленая точка в верхней части листовой</td>
				<td>Фигурный лист</td>
				<td>
					<ul>
						<li>Syllit 400SC (0,25%) или</li>
						<li>Dellan 700WG (0,07%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Розовый бутон</td>
				<td>
					<ul>
						<li>Фигурный лист</li>
						<li>Персиковая спаржа</li>
						<li>Поездки</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dellan 700WG (0,07%) +</li>
						<li>Karathane EC (0,05%) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Цветение</td>
				<td>Moniliated</td>
				<td>
					<ul>
						<li>Signum (0,07%) или</li>
						<li>Funomil (0,07%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Прецветание</td>
				<td>
					<ul>
						<li>Пористость листьев</li>
						<li>Вши листьей</li>
						<li>Поездки</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrodin 60WP (0,1%) +</li>
						<li>Actara 25WG (200g/ha) или</li>
						<li>Afinex (250g/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Плод размером с лесной орех</td>
				<td>
					<ul>
						<li>Пористость листьев</li>
						<li>Персиковая спаржа</li>
						<li>Бресквин затавак</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Captan 80WG (0,2%) +</li>
						<li>Systhane 12E (0,035%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>После плодоношения</td>
				<td>
					<ul>
						<li>Гниль</li>
						<li>Чувственный щит</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Signum (0,07%) +</li>
						<li>Inegar 25WG (0,06%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Рост плодов</li>
						<li>(12-15 дней спустя)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Пористость листьев</li>
						<li>Спаржа</li>
						<li>Персиковая моль</li>
						<li>Затавак</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG NeoTec (0,25%) +</li>
						<li>Topas 100EC (0,025%) +</li>
						<li>Vantex 60CS (60ml/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<li>Рост плодов</li>
						<li>(15 дней спустя)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Гниль</li>
						<li>Бресквин затавак</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Funomil (0,07%) +</li>
						<li>Afinex 20SP (0,025%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>За 15 дней до сбора урожаяu</td>
				<td>Гниль</td>
				<td>Switch 62,5WG (0,08%)</td>
			</tr>

			<tr>
				<td>Осеннее лечение</td>
				<td>
					<ul>
						<li>Утечка листа</li>
						<li>Фигурный лист</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) или</li>
						<li>Bordo Blue (1,5%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Контроль сорняков</td>
				<td>
					<ul>
						<!--						<li>Jednogodišnji i višegodišnji uskolisni korovi</li>-->
						<li>Многолетние сорняки</li>
						<li>&ldquo;Химическое скашивание&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra (1,0-3,0l/ha) или</li>
						<li>Kletox (0,8-2l/ha)</li>
						<li>Cosmic 36 (4-10l/ha) + Terbis (2,0-4,0l/ha)</li>
						<li>Agram (3,0-5,0l/ha)</li>

					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Содержание</a>

		<a name="sljiva">
			<h2>Слива</h2>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/27.jpg">
				<img src="/gfx/photo/thumb/27.jpg" alt=""/>
			</a>
		</div>
		<table>
			<thead>
			<tr>
				<th>Фенофаз</th>
				<th>Болезни и вредители</th>
				<th>Подавление</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<ul>
						<li>Ранняя спрей</li>
						<li>(Отек почек)</li>
					</ul>
				</td>
				<td>
					<ul>
						<!--						<li>Слива сливы</li>-->
						<li>Пористость</li>
						<li>Невероятные формы вредителей (яйца)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) или</li>
						<li>Funguran OH (0,5%) +</li>
						<li>Galmin (1,5-2,5%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Закрытые цветы &ldquo;белый кокс&rdquo;</td>
				<td>
					<ul>
						<li>Сушка цветов и половых ветвей - молиоз</li>
						<li>Струны топора</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Funomil (0,07%) или</li>
						<li>Signum (0,07%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Цветение</td>
				<td>Сушка цветов и половых ветвей - молиоз</td>
				<td>
					<ul>
						<li>Signum (0,07%) или</li>
						<li>Pyrus 400SC (0,20-0,25%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Прецветание</td>
				<td>
					<ul>
						<!--						<li>Plamenjača šljive</li>-->
						<li>Струны топора</li>
						<li>Вши листьей</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Captan WG80 (0,20%) +</li>
						<li>Nurelle D (0,10%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<!--				<td>Formiran plod</td>-->
				<td>
					<ul>
						<li>Утечка листа</li>
						<li>Слейвны</li>
						<li>Вши листьей</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG (0,25%) +</li>
						<li>Afinex 20WP (0,025%) +</li>
						<li>Vantex 60CS (0,05%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-15 дней спустя</td>
				<td>
					<ul>
						<li>Гниль</li>
						<li>Слейвны</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Funomil (0,07%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Изменение цвета фруктов</td>
				<td>Гниль</td>
				<td>Switch 62,5WG (0,06%)</td>
			</tr>

			<tr>
				<td>Осеннее лечение</td>
				<td>&ldquo;Голубой спрей&rdquo;</td>
				<td>Cuprablau Z (0,5%)</td>
			</tr>

			<tr>
				<td>Контроль сорняков</td>
				<td>
					<ul>
						<!--						<li>Jednogodišnji i višegodišnji uskolisni korovi</li>-->
						<li>Многолетние сорняки</li>
						<li>&ldquo;Химическое скашивание&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra (1-3l/ha) или</li>
						<li>Kletox (0,8-2,0l/ha) +</li>
						<li>Cosmic 36 (4-10l/ha) + Terbis (2-4l/ha)</li>
						<li>Agram (3-5l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Содержание</a>

		<a name="visnjatresnja">
			<h2>Вишня и черешня</h2>
		</a>
		<div class="thumb fancybox">
			<a href="/gfx/photo/large/15.jpg">
				<img src="/gfx/photo/thumb/15.jpg" alt=""/>
			</a>
		</div>
		<table>
			<thead>
			<tr>
				<th>Фенофаз</th>
				<th>Болезни и вредители</th>
				<th>Подавление</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Зимнее опрыскивание</td>
				<td>
					<ul>
						<li>Патогены</li>
						<li>Невероятные формы вредителей (яйца)</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Cuprablau Z (0,5%) или</li>
						<li>Funguran OH (0,4%) +</li>
						<li>Galmin (1,5-2,5%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<!--						<li>Početak cvetanja</li>-->
						<li>&ldquo;белый кокс&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Moniliated</li>
						<li>Листовая отечность</li>
						<li>Хоботный</li>
						<li>Мразовац</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Signum (0,07%) или</li>
						<li>Funomil (0,07%) +</li>
						<li>Cythrin (0,03%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Цветение</td>
				<td>Moniliated</td>
				<td>
					<ul>
						<li>Signum (0,06-0,075%) или</li>
						<li>Pyrus 400SC (0,2-0,25%) или</li>
						<li>Funomil (0,7-1kg/ha)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<ul>
						<!--						<li>Formiranje ploda</li>-->
						<li>&ldquo;зерно фасоли&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Листовая отечность</li>
						<li>Хоботный</li>
						<li>Вши</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Dithane DG (0,25%) +</li>
						<li>Nurelle D (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>10-15 дней спустя</td>
				<td>
					<ul>
						<li>Листовая отечность</li>
						<li>Вишневая муха</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Agrodin 60WP (0,1%) или</li>
						<li>Syllit 400SC (0,2%) +</li>
						<li>Actara 25WG (0,02%) или</li>
						<li>Afinex 20SP (0,025%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Изменение цвета фруктов</td>
				<td>
					<ul>
						<li>Monilinia</li>
						<!--						<li>Gorka trulež</li>-->
						<li>Вишневая муха</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Switch 62,5 WG (0,06%) +</li>
						<li>Vantex 60CS (0,005%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>После сбора урожая</td>
				<td>Листовая отечность</td>
				<td>
					<ul>
						<li>Captan 80WG (0,2%) или</li>
						<li>Agrodin 60WP (0,1%)</li>
					</ul>
				</td>
			</tr>

			<tr>
				<td>Осеннее лечение</td>
				<td>&ldquo;Голубой спрей&rdquo;</td>
				<td>Cuprablau Z (0,5%)</td>
			</tr>

			<tr>
				<td>Контроль сорняков</td>
				<td>
					<ul>
						<!--						<li>Jednogodišnji i višegodišnji uskolisni korovi</li>-->
						<li>Многолетние сорняки</li>
						<li>&ldquo;Химическое скашивание&rdquo;</li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Focus ultra (1-3l/ha) или</li>
						<li>Kletox (0,8-2,0l/ha) +</li>
						<li>Cosmic 36 (4-10l/ha) + Terbis (2-4l/ha)</li>
						<li>Agram (3-5l/ha)</li>
					</ul>
				</td>
			</tr>
			</tbody>
		</table>
		<a class="toSadrzaj soft" href="#summary">Содержание</a>

	</div>
{% endblock %}
