{% extends 'russian/russian.base.html.twig' %}

{% block main_content %}
	<div id="content" class="sorte">

		<h1 class="headO ru">рех</h1>
		<p>
			часто высаживают на единых плантациях с абрикосом, сливой или персиком.
		</p>
		<table class="randman">
			<colgroup>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
			</colgroup>
			<colgroup>
				<col/>
			</colgroup>
			<thead>
			<tr>
				<th>Сорт</th>
				<th>вес</th>
				<th>Randman</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Чемпион</th>
				<td>14gr</td>
				<td>58%</td>
			</tr>
			<tr>
				<th>Срем</th>
				<td>15gr</td>
				<td>57%</td>
			</tr>
			<tr>
				<th>Тиса</th>
				<td>15gr</td>
				<td>51%</td>
			</tr>
			<tr>
				<th>Бачка</th>
				<td>12gr</td>
				<td>52%</td>
			</tr>
			<tr>
				<th>Mire</th>
				<td>12gr</td>
				<td>55%</td>
			</tr>
			<tr>
				<th>Medveđa</th>
				<td>10gr</td>
				<td>53%</td>
			</tr>
			<tr>
				<th>Гейзенхайм 139</th>
				<td>13gr</td>
				<td>48%</td>
			</tr>
			<tr>
				<th>Гейзенхайм 251</th>
				<td>13gr</td>
				<td>47%</td>
			</tr>
			<tr>
				<th>Юпитер</th>
				<td>12gr</td>
				<td>50%</td>
			</tr>
			<tr>
				<th>Шейново</th>
				<td>12gr</td>
				<td>54%</td>
			</tr>
			<tr>
				<th>Расна</th>
				<td>14gr</td>
				<td>52%</td>
			</tr>
			<tr>
				<th>NS-поздно</th>
				<td>10,5gr</td>
				<td>54%</td>
			</tr>
			</tbody>
		</table>

		<ul class="accent">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">12m x 12m</li>
				</ul>
				<ul>
					<li>в треугольнике</li>
					<li class="hl">12m x 9.36m</li>
				</ul>
			</li>
		</ul><!--.accent-->

		<p>
			Плоды этих сортов большие, более 14 г, имеют тонкую оболочку, очень высокое качество сердечника. Существует
			много разновидностей сортов, и некоторые начинают рожат уже в питомнике. Все они имеют высокую степень
			толерантности к возбудителям заболевания. Они созревают в сентябре.
		</p>

		<h1 class="headF ru">ундук</h1>
		<h2>Время созревания</h2>

		<table>
			<colgroup>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<thead>
			<tr>
				<th>Сорт</th>
				<th colspan="6">Июнь</th>
				<th colspan="6">Июль</th>
				<th colspan="6">Август</th>
				<th colspan="6">Сентябрь</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Тонда джентиле романа</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Истрия долго</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Давияна</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Римлянин</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Халски джин</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Косфорд</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Лудолф</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</tbody>
		</table>

		<ul class="accent dark">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">6m x 3m</li>
				</ul>
			</li>
		</ul><!--.accent-->

		<p>
			У лучших сортов есть большой плод, овальная форма, а в цветке развиваются два-четыре плода. Они легко
			выпадают из плевы. Ядро - мяч, прочный, высококачественный.
		</p>

		<h1 class="headM ru">индаль</h1>
		<h2>Время созревания</h2>

		<table>
			<colgroup>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup class="alt">
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<colgroup>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
				<col/>
			</colgroup>
			<thead>
			<tr>
				<th>Сорт</th>
				<th colspan="6">Июнь</th>
				<th colspan="6">Июль</th>
				<th colspan="6">Август</th>
				<th colspan="6">Сентябрь</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>Паирно чешуйчатый</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Твдунац</th>
				<!-- 06 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 07 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 08 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<!-- 09 -->
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td class="mark">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</tbody>
		</table>
		<ul class="accent dark">
			<li class="itemR">
				интервалы посадки
				<ul>
					<li class="hl">6m x 3m</li>
				</ul>
			</li>
		</ul><!--.accent-->
		<a class="toVrh soft" href="#vrh" title="В начало страницы">&nbsp;</a>
	</div>
{% endblock %}
